---

---

$navbar-background: #53514f;
$sidebar-width: 280px;
$menu-background: #f6f4ea; //#f7f5e7;
$sidebar-background: lighten($navbar-background, 4%);
$site-background: #fff;
$text-color: #9d9d9d;

/* body and navbar */

@font-face {
  font-family: "Musica Wolfgang";
  src: url("../fonts/Musica-Wolfgang.woff");
}

.musica {
    font-family: "Musica Wolfgang";
}

html {
    height: 100%;
}

body {
	margin-top: 0px;
    height: 100%;
    background-color: $site-background;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $site-background;
    z-index: 10000;
    cursor: wait;
    .navbar {
        border-radius: 0;
    }
    .loading-text {
        padding-top: 80px;
        vertical-align: middle;
        text-align: center;
        color: $navbar-background;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;   
    }
}

body.books {
    background-color: $site-background;
}

h1, h2, h3, h4, h5, {
    margin-bottom: 15px;
}
 
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child) {
    margin-top: 20px;
}
 
svg:not(:root){
	overflow:inherit
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar {
    margin-bottom: 0px;
    background-color: $navbar-background !important;
    background: url("../images/background-small.png");
    background-position: right top;
    background-repeat: no-repeat;
    border: 0px !important;
}

.navbar-with-sidebar {
    border-radius: 0;
    > a { 
        color: #aaa !important; 
    }
    > a:hover { 
        color: #fff !important; 
    }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.top-header {
    background: url("../images/header.png");
    background-position: right top;
    height: 120px;
    border-bottom: solid 2px $navbar-background;
    h1, h2 {
        letter-spacing: 0.05em;
        margin-bottom: 0px;
        font-weight: bold;
        color: $menu-background;
    }
    h3, h5 {
        //font-style: italic;
    }
    h3 {
        margin-top: 2px;
        letter-spacing: 0.015em;
        color: $menu-background;
    }
    h5 {
        margin-top: 5px;
        letter-spacing: 0.035em;
        color: $menu-background;
    }
}

.container-default {
    padding-top: 20px;
    margin-bottom: 40px;
}

.navbar-fixed-bottom {
    height: 30px;
    background-color: $navbar-background;  
    p {
        margin-top: 5px;
        color: $text-color;
    } 
}

#carousel-part-book {
    max-width: 650px;
    .carousel-control {
        background-image:none !important;
        filter:none !important;
    }
}

a sub {
    display: inline-block;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 2px;
}

.sublist-group a {
	padding: 4px 15px;
}

.sublist-group a.menu-part {
	font-style: italic;
    padding-left: 40px;
}

.dropdown-menu a.menu-part {
	font-style: italic;
    padding-left: 40px;
}

.list-group-item {
    background-image: none !important;
    background-color: $menu-background;
}
.list-group-item:not(.active):hover {
    background: lighten($menu-background, 10%) !important;
}

.list-group-item:hover {
}

div.secondary_links {
    margin-bottom: 25px;
    p {
        padding: 0;
        margin: 0;
    }
    a {
        padding: 5px 0px;
        margin-left: 5px;
        display: block;
        background-position: left center;
    }
}

p.news-more {
    font-style: italic;
    margin-top: -10px;
}
div.news {
    padding-bottom: 10px;
}
div.news:not(:last-child) {
    border-bottom: 1px solid $navbar-background;
    margin-bottom: 20px;
}

p.news-more {
    font-style: italic;
    margin-top: 10px;
}

.separator {
    border-top: solid 1px $navbar-background;
    margin-top: 20px;
    padding-top: 10px;
}

.separator-bold {
    border-top: solid 2px $navbar-background;
    margin-top: 20px;
    padding-top: 10px;
}

div.home-logo {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Books */

.container-books {
    padding-top: 20px;
    margin-bottom: 10px;
    h3, h4, div.noteHeading {
        padding-bottom: 9px;
        border-bottom: 1px solid #eee;
    }
    h3 {
        margin-top: 30px;
    }
    h4 {
        margin-top: 20px;
    }
    div.noteHeading {
        font-weight: bold;
        margin-top: 20px;
    }
}

.text-title {
	padding: 0px 15px px 15px;
    text-align: center;
}
.text-subtitle {
    font-size: smaller;
}

.book {

}

div.app > p {
    padding-left: 8px;
}

/* Texts */

div.table {
    table {
        margin-bottom: 10px;
    }
    table, th, td {
        border: 1px solid lightgrey;
        padding: 3px;
    }
    td.center {
        text-align: center;
    }
    span.note span {
        font-style: italic;
    }
}

p.right {
    text-align: right;
}

h5.marenzio-modal {
    background-color: $navbar-background;
    color: #aaa;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 2px;
}

p.app_text {
    background-color: #eee;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #999999;
}

table.lyrics {
    background-color: #eee;
    margin: 10px 0px;
    border: 1px solid #999999;
    counter-reset: rowNumber;
    tr {
        counter-increment: rowNumber;
        td:first-child {
            padding-right: 3em;
            padding-left: 3em;
        }
        td:first-child::before {
            content: "";
            margin-left: -2.5em;
            text-align: left;
            float: left;
            //padding-right: -20px;
        }
        td:last-child {
            padding-right: 1em;
        }
        td {
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }
    tr.void {
        counter-increment: none;
        height: 20px;
    }
    
    tr:nth-of-type(5n + 0) td:first-child::before {
        content: counter(rowNumber);
    }
}

table.text-01 {
    td {
        padding-right: 10px;
    }
    margin-bottom: 10px;
}

table.comments-01 {
    td {
        padding: 10px;
        vertical-align: top;
    }
}

div.comments-img {
    padding: 10px;
    text-align: center;
    img {
        padding: 10px;
    }
}

div.marenzio-modal {
    padding: 0px 10px 5px 10px;
}

.app-table {
    td.measures, td.lines {
        width: 100px;
    }
    td.sources {
        width: 250px;
    }
    p {
        margin-top: 0px;
        margin-bottom: 2px;
    }
    tr.disabled {
        opacity: 0.4;
        a {
            pointer-events: none;
            cursor: default;
        }
    }
}

.app-table-table {
   .app-brace {
       border-style: solid;
       border-color: transparent;
       border-width: 1px 20px 1px 0px;
       border-image: url("../images/curly-red.png") 1 20 stretch;
       padding-right: 0.5em;
   }
   td {
      padding-right: 5px;
   }
}


div.app-inline, div.app-inline-text {
    display: none;
}

/* Sidebar */

.sidebar-toggle {
  display: inherit !important;
}

.sidebar-panel {
    margin: 20px;
    color: lighten($text-color, 15%);
}

.sidebar-row {
    padding-bottom: 10px;
}

/* wrappers */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    transition: all 0.0s ease;
    margin-bottom: 0px;
    height: 100%;
    background-color: #F7F5ED;
}

#wrapper.toggled {
    //padding-left: $sidebar-width;
}

#sidebar-wrapper {
    z-index: 900;
    position: fixed;
    left: $sidebar-width;
    background-color: $sidebar-background;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    transition: all 0.0s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: $sidebar-width;
}

#page-content-wrapper {
    width: 100%;
    height: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;
}


.sidebar-close {
    .navbar-toggle {
        border: 1px solid darken($sidebar-background, 20%);
        .icon-bar {
            background-color: #cccccc;
        }          
    }
    .navbar-toggle:hover {
        background-color: darken($sidebar-background, 20%);
    }
}

.sidebar-option-row {
    margin-top: 15px;
}

/* splitter */

#splitter-bar {
    width: 75px;
    height: 100%;
    background-image: none !important;
    float: left;
    position: fixed;
    .splitter-toggle {
      display: block;
    }
}

#splitter-content {
    margin-left: 100px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: scroll;
}

#top-panel {
    background-color: #fff;
}

#bottom-panel {
}

#bottom-panel-button {
}

.hsplitter {
    overflow: visible !important;
    height: 10px !important;
}

.hsplitter:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-top: solid 6px lighten($text-color, 30%);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.hsplitter:before {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 8px;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-bottom: solid 6px lighten($text-color, 30%);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

/* larger screen */

@media(min-width:768px) {
    .navbar {
        background: url("../images/background.png");
        background-position: right top;
        background-repeat: no-repeat;
    }
    
    .sidebar-close {
        display: none;
    }

    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.20s ease;
        -moz-transition: all 0.20s ease;
        -o-transition: all 0.20s ease;
        transition: all 0.20s ease;
    }
    
    #wrapper.toggled {
        padding-left: $sidebar-width;
        -webkit-transition: all 0.20s ease;
        -moz-transition: all 0.20s ease;
        -o-transition: all 0.20s ease;
        transition: all 0.20s ease;
    }

    #sidebar-wrapper {
        width: 0;
        display: none;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: $sidebar-width;
        display: block;
    }

    #page-content-wrapper {
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media print {
    #navbar {
        display: none;
    }
    .top-header {
        display: none;
    }
    #sidebar {
        display: none;
    }
}
