<h5 class="marenzio-modal">Music</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">3</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd4n0v1b3s3' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>Am-1587</p>
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>A</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>no sharp before the c2</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">17</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd5n384v1b17s4' );">Sc-heir-1603 – S</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of F</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">18</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cfd3n0v1b18s6' );">Sc-heir-1603 – B</a></td>
         <td style="vertical-align:middle">
            <p>g2 instead of f2</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">20</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cad4n256v1b20s2' );">Am-1587 – Q</a></td>
         <td style="vertical-align:middle">
            <p>b3 instead of a3</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">25</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#mrest-000000045852186' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>Am-1587</p>
                           <p>AnG-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>B</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>missing</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1ccd4n0v1b3s3">Am-1587 – 
      AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      no sharp before the c2</div>
   <div data-corresp="#p1ccd5n384v1b17s4">Sc-heir-1603 – 
      SM instead of F</div>
   <div data-corresp="#p1cfd3n0v1b18s6">Sc-heir-1603 – 
      g2 instead of f2</div>
   <div data-corresp="#p1cad4n256v1b20s2">Am-1587 – 
      b3 instead of a3</div>
   <div data-corresp="#mrest-000000045852186">Am-1587 – 
      AnG-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      missing</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>