<h3> 1. Se bramate ch'io mora</h3><h4>Music</h4>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph-1594; Ka-1608; Ph-1610; 1610<sup>3</sup> (devotional contrafactum <i>Sic dilecta o Christe</i>)</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">1</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#measure-000000167526686' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>all voices</td>
                  </tr>
               </table></span></td>
         <td style="vertical-align:middle">
            <p>mensuration sign C-cut instead of C</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">12</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1cfd5n896v1b12s1' );">Vi-1587 – C</span></td>
         <td style="vertical-align:middle">
            <p>f4 originally g4, then corrected in all copies. In US-BEm there is no correction to
               f4, but the body of the note is erased.</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#measure-000000167526686">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      mensuration sign C-cut instead of C</div>
   <div data-corresp="#p1cfd5n896v1b12s1">Vi-1587 – 
      f4 originally g4, then corrected in all copies. In US-BEm there is no correction to
      f4, but the body of the note is erased.</div>
</div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>