<h3> 1. Se bramate ch’io mora</h3><h4>Music</h4>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph-1594; Ka-1608; Ph-1610; 1610<sup>3</sup> (devotional contrafactum <i>Sic dilecta o Christe</i>)</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">1</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#staff-000000166736070 #staff-000000040000893 #staff-000000191486697 #staff-000000113755116 #staff-000000055413563 #staff-000000124503924' , 'meterSig');">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>all voices</td>
                  </tr>
               </table></span></td>
         <td style="vertical-align:middle">
            <p>mensuration sign C-cut instead of C</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">12</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1cfd5n896v1b12s1' );">Vi-1587 – C</span></td>
         <td style="vertical-align:middle">
            <p>f4 originally g4, then corrected in all copies. In US-BEm there is no correction to
               f4, but the body of the note is erased.</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">24</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1cdd3n768v1b24s6' );">AnGa-1605 – B</span></td>
         <td style="vertical-align:middle">
            <p>e2 instead of d2</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#staff-000000166736070 #staff-000000040000893 #staff-000000191486697 #staff-000000113755116 #staff-000000055413563 #staff-000000124503924" data-type="meterSig">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      mensuration sign C-cut instead of C</div>
   <div data-corresp="#p1cfd5n896v1b12s1">Vi-1587 – 
      f4 originally g4, then corrected in all copies. In US-BEm there is no correction to
      f4, but the body of the note is erased.</div>
   <div data-corresp="#p1cdd3n768v1b24s6">AnGa-1605 – 
      e2 instead of d2</div>
</div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="lines">4</td>
         <td class="sources">
            <p><span href="javascript:loadPageWithElement('#verse-000000003024744 #verse-000000155923257 #verse-000000164502572 #verse-000000118161565 #verse-000000011793329 #verse-000000064963227 #verse-000000036772646 #verse-000000114715053 #verse-000000202403896 #verse-000000092979199 #verse-000000208722506 #verse-000000201300613');">Am-1587 – all voices</span></p>
            <p><span href="javascript:loadPageWithElement('#verse-000000003024744 #verse-000000155923257 #verse-000000164502572 #verse-000000118161565 #verse-000000011793329 #verse-000000064963227 #verse-000000036772646 #verse-000000114715053 #verse-000000202403896 #verse-000000092979199 #verse-000000208722506 #verse-000000201300613');">AnGa-1593 – all voices</span></p>
            <p><span href="javascript:loadPageWithElement('#verse-000000003024744 #verse-000000155923257 #verse-000000164502572 #verse-000000118161565 #verse-000000036772646 #verse-000000114715053 #verse-000000202403896 #verse-000000092979199 #verse-000000208722506 #verse-000000201300613');">Sc-heir-1603 – CATBS</span></p>
            <p><span href="javascript:loadPageWithElement('#verse-000000011793329 #verse-000000064963227 #verse-000000036772646 #verse-000000114715053 #verse-000000202403896 #verse-000000092979199 #verse-000000164502572 #verse-000000118161565');">AnGa-1605 – ATQS</span></p>
         </td>
         <td style="vertical-align:middle">coi bei</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">4</td>
         <td class="sources">
            <p><span href="javascript:loadPageWithElement('#verse-000000012321058 #verse-000000094078547 #verse-000000034169149 #verse-000000213643015 #verse-000000152999564 #verse-000000171396159 #verse-000000202776748 #verse-000000010281382 #verse-000000017216183 #verse-000000004372724 #verse-000000018484588 #verse-000000155463284 #verse-000000079812445 #verse-000000181559662 #verse-000000133468930 #verse-000000100746679 #verse-000000132079486 #verse-000000092441508');">AnGa-1593 – all voices</span></p>
            <p><span href="javascript:loadPageWithElement('#verse-000000012321058 #verse-000000094078547 #verse-000000034169149 #verse-000000213643015 #verse-000000152999564 #verse-000000171396159 #verse-000000202776748 #verse-000000010281382 #verse-000000017216183 #verse-000000004372724 #verse-000000018484588 #verse-000000155463284 #verse-000000079812445 #verse-000000181559662 #verse-000000133468930 #verse-000000100746679 #verse-000000132079486 #verse-000000092441508');">Sc-heir-1603 – all voices</span></p>
            <p><span href="javascript:loadPageWithElement('#verse-000000012321058 #verse-000000094078547 #verse-000000034169149 #verse-000000213643015 #verse-000000152999564 #verse-000000171396159 #verse-000000202776748 #verse-000000010281382 #verse-000000017216183 #verse-000000004372724 #verse-000000018484588 #verse-000000155463284 #verse-000000079812445 #verse-000000181559662 #verse-000000133468930 #verse-000000100746679 #verse-000000132079486 #verse-000000092441508');">AnGa-1605 – all voices</span></p>
         </td>
         <td style="vertical-align:middle">vostr’occhi</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">7</td>
         <td class="sources">
            <p><span href="javascript:loadPageWithElement('#verse-000000052973818 #verse-000000124360909 #verse-000000016241934 #verse-000000012567929 #verse-000000081605945 #verse-000000158762008 #verse-000000106145023 #verse-000000171345810 #verse-000000061191819 #verse-000000078090274 #verse-000000144861055 #verse-000000187071681');">AnGa-1593 – ABQS</span></p>
            <p><span href="javascript:loadPageWithElement('#verse-000000052973818 #verse-000000124360909 #verse-000000016241934 #verse-000000012567929 #verse-000000081605945 #verse-000000158762008 #verse-000000106145023 #verse-000000171345810 #verse-000000061191819 #verse-000000078090274 #verse-000000144861055 #verse-000000187071681');">Sc-heir-1603 – ABQS</span></p>
            <p><span href="javascript:loadPageWithElement('#verse-000000052973818 #verse-000000124360909 #verse-000000016241934 #verse-000000012567929 #verse-000000081605945 #verse-000000158762008 #verse-000000106145023 #verse-000000171345810 #verse-000000061191819 #verse-000000078090274 #verse-000000144861055 #verse-000000187071681');">AnGa-1605 – ABQS</span></p>
         </td>
         <td style="vertical-align:middle">mort’&amp; io</td>
      </tr>
   </tbody>
</table>
<h3> 2. Di nettare amoroso ebro la mente</h3><h4>Music</h4>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph-1594; Ka-1608; Ph-1610; 1597<sup>13</sup>; 1590<sup>29</sup> (English contrafactum <i>When Meliboeus’ soul, flying hence, departed / Now twinkling stars do smile, and dance</i>)</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">5</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1cfd5n256v1b5s2' );">Vi-1587 (I-Vnm copy only) – C</span></td>
         <td style="vertical-align:middle">
            <p>dotted g4 instead of f4; in all other consulted copies, the g4 is clearly corrected
               to an f4</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">20</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1cdd5n512v1b20s2' );">Vi-1587 – Q</span></td>
         <td style="vertical-align:middle">
            <p>d4 corrected by erasing and reprinting, except for I-Bc and GB-Obl(?) where the correction
               is done with a pasted cutout</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">10</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1r0v1b40s1' );">AnGa-1605 – C</span></td>
         <td style="vertical-align:middle">
            <p>missing</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">71</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1cad5n0v1b71s1' );">Vi-1587 – C</span></td>
         <td style="vertical-align:middle">
            <p>dotted SM instead of F</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">94</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#staff-000000022818505 #staff-000000093420156 #staff-000000059999597 #staff-000000160534613 #staff-000000011745811 #staff-000000004285432' , 'meterSig');">Vi-1587 – all voices</span></td>
         <td style="vertical-align:middle">
            <p>proportion sign 2/3, except in the B partbook of the F-Pn copy, where the proportion
               sign is 3/2</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">94</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#staff-000000004285432' , 'meterSig');">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                        </div>
                     </td>
                     <td>B</td>
                  </tr>
               </table></span></td>
         <td style="vertical-align:middle">
            <p>proportion sign 3/2, later erased and corrected in C</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">128</td>
         <td class="sources"><span href="javascript:loadPageWithElement('#p1ced5n896v1b128s1' );">Vi-1587 – C</span></td>
         <td style="vertical-align:middle">
            <p>added later in all copies</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cfd5n256v1b5s2">Vi-1587 (I-Vnm copy only) – 
      dotted g4 instead of f4; in all other consulted copies, the g4 is clearly corrected
      to an f4</div>
   <div data-corresp="#p1cdd5n512v1b20s2">Vi-1587 – 
      d4 corrected by erasing and reprinting, except for I-Bc and GB-Obl(?) where the correction
      is done with a pasted cutout</div>
   <div data-corresp="#p1r0v1b40s1">AnGa-1605 – 
      missing</div>
   <div data-corresp="#p1cad5n0v1b71s1">Vi-1587 – 
      dotted SM instead of F</div>
   <div data-corresp="#staff-000000022818505 #staff-000000093420156 #staff-000000059999597 #staff-000000160534613 #staff-000000011745811 #staff-000000004285432" data-type="meterSig">Vi-1587 – 
      proportion sign 2/3, except in the B partbook of the F-Pn copy, where the proportion
      sign is 3/2</div>
   <div data-corresp="#staff-000000004285432" data-type="meterSig">AnGa-1593 – 
      Sc-heir-1603 – 
      proportion sign 3/2, later erased and corrected in C</div>
   <div data-corresp="#p1ced5n896v1b128s1">Vi-1587 – 
      added later in all copies</div>
</div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
<h3></h3><h4>Music</h4><div class="app-inline"></div><h4>Text</h4><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>
