<h5 class="marenzio-modal">Vi1587</h5>
<div class="marenzio-modal">
   <p><strong>1.	Venice, Giacomo Vincenzi, 1587</strong></p>
   <ul>
      <li>I-Bc<em> — Complete</em></li>
      <li>GB-Ob<em> — Complete</em></li>
      <li>D-Hs<em> — CTBQS</em></li>
      <li>I-Sd<em> — ATBQS</em></li>
      <li>I-Vnm<em> — Q</em></li>
      <li>US-BEm<em> — C</em></li>
      <li>F-Pn<em> — B</em></li>
   </ul>
   <p><strong>DI LUCA | MARENZIO | QUARTO LIBRO DE MADRIGALI | a Sei Voci Novamente composti, &amp;
         dati in luce. | CON PRIVILEGGIO | [printer’s mark] | In Venetia Presso Giacomo Vincenzi.
         | MDLXXXVII.</strong></p>
</div>
<h5 class="marenzio-modal">Am1587</h5>
<div class="marenzio-modal">
   <p><strong>Venice, Ricciardo Amadino, 1587</strong></p>
   <ul>
      <li>GB-Och<em> — Complete</em></li>
   </ul>
   <p><strong>DI LUCA | MARENZIO | IL QUARTO LIBRO | DE MADRIGALI A SEI VOCI | Novamente ristampato,
         &amp; da molti errori | diligentissimamente emendato. | [printer’s mark] | IN  VENETIA
         | Appresso Ricciardo Amadino. | MDLXXXVII.</strong></p>
</div>
<h5 class="marenzio-modal">AnGa1593</h5>
<div class="marenzio-modal">
   <p><strong>Venice, Angelo Gardano, 1593</strong></p>
   <ul>
      <li>GB-Lcm<em> — Complete</em></li>
   </ul>
   <p><strong>IL QUARTO LIBRO | DE MADRIGALI | A SEI VOCI | DI LUCA MARENZIO. | Novamente Ristampato.
         | [printer’s mark] | In Venetia Appresso Angelo Gardano. | MDLXXXXIII.</strong></p>
</div>
<h5 class="marenzio-modal">Sc[heir]1603</h5>
<div class="marenzio-modal">
   <p><strong>Venice, heir of Scotto, 1603</strong></p>
   <ul>
      <li>US-Wc<em> — Complete</em></li>
   </ul>
   <p><strong>LUCA MARENZIO | IL QUARTO LIBRO | DE MADRIGALI | A Sei voci. | Novamente ristampati.
         | [printer’s mark] | IN VENETIA, Appresso l’Herede di Girolamo Scoto. MDCIII.</strong></p>
</div>
<h5 class="marenzio-modal">AnGa1605</h5>
<div class="marenzio-modal">
   <p><strong>Venice, Angelo Gardano, 1605</strong></p>
   <ul>
      <li>F-Pn<em> — Complete</em></li>
   </ul>
   <p><strong>LIBRO QUARTO | DE MADRIGALI | A SEI VOCI. | DI LUCA MARENZIO. | Novamente Ristampato.
         | [printer’s mark] | In Venetia Appresso Angelo Gardano. | MDCV.</strong></p>
</div>
<h5 class="marenzio-modal">1590-29 [English]</h5>
<div class="marenzio-modal">
   <p><strong>London, Thomas Este, 1590</strong></p>
   <ul>
      <li>GB-Lbl<em> — Complete</em></li>
   </ul>
   <p><strong>The first sett, | Of Italian Madrigalls Englished, | not to the sense of the originall
         dittie, | but after the affection of the | Noate. | By Thomas Watson Gentleman. |
         Thomas Este, London 1590</strong></p>
</div>