<h5 class="marenzio-modal">Music</h5>

<p>Sources used for collation: AnGa, 1594; AnGa, 1603; Ma-Ga, 1614</p>

<p>Other sources: Ka, 1601; Ph, 1609; Ph [heirs], 1632</p>

<table class="table app-table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:loadPageWithElement('#p1cad3n768v1b17s4 #p1cbd3n0v1b18s4' );">
               <p>Ma-Ga, 1614</p></a></td>
         <td style="vertical-align:middle">f2-g2 instead of a2-b2</td>
      </tr>
      <tr>
         <td><a href="javascript:loadPageWithElement('#p1cad4n512v1b48s1' );">
               <p>AnGa-1603</p></a></td>
         <td style="vertical-align:middle">SB instead of M</td>
      </tr>
      <tr>
         <td><a href="javascript:loadPageWithElement('#p1ced3n0v1b51s5' );">
               <p>Ma-Ga-1614</p></a></td>
         <td style="vertical-align:middle">f2 instead of e2</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div data-corresp="#p1cad3n768v1b17s4 #p1cbd3n0v1b18s4">Ma-Ga, 1614 – 
      f2-g2 instead of a2-b2
   </div>
   <div data-corresp="#p1cad4n512v1b48s1">AnGa-1603 – 
      SB instead of M
   </div>
   <div data-corresp="#p1ced3n0v1b51s5">Ma-Ga-1614 – 
      f2 instead of e2
   </div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000353344131 #verse-0000001151008984');">AnGa-1603 – Q</a></p>
         </td>
         <td style="vertical-align:middle">dunqu'il</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">6</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000458253440 #verse-0000000551634138');">AnGa-1603 – C<sub>2</sub>A<sub>2</sub></a></p>
         </td>
         <td style="vertical-align:middle">ehe</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">6</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000001472520150 #verse-0000000504142096 #verse-0000001366367773 #verse-0000001312172967 #verse-0000000470486057 #verse-0000001845767666');">AnGa-1603 – B</a></p>
         </td>
         <td style="vertical-align:middle">dividii</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">6</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000057891870 #verse-0000001657364768 #verse-0000002050160709 #verse-0000001389684609');">C<sub>1</sub>T</a></p>
         </td>
         <td style="vertical-align:middle">congius’</td>
      </tr>
   </tbody>
</table>
<div class="app-inline-text">
   <div data-corresp="#verse-0000000353344131 #verse-0000001151008984">dunqu'il (AnGa-1603 – Q)
      
   </div>
   <div data-corresp="#verse-0000000458253440 #verse-0000000551634138">ehe (AnGa-1603 – C<sub>2</sub>A<sub>2</sub>)
      
   </div>
   <div data-corresp="#verse-0000001472520150 #verse-0000000504142096 #verse-0000001366367773 #verse-0000001312172967 #verse-0000000470486057 #verse-0000001845767666">dividii (AnGa-1603 – B)
      
   </div>
   <div data-corresp="#verse-0000000057891870 #verse-0000001657364768 #verse-0000002050160709 #verse-0000001389684609">congius’ (C<sub>1</sub>T)
      
   </div>
</div>