<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cad4n0v1b17s4');">GM14</a></td>
         <td>on toglie, SM f2 and SB g2 instead of a2-b2</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cad4n512v1b48s1');">GM03</a></td>
         <td>second note (a3) SB instead of M</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ced3n0v1b51s5');">GM14</a></td>
         <td>M f2 instead of e2</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cad4n0v1b17s4">GM14 – on toglie, SM f2 and SB g2 instead of a2-b2</div>
   <div class="p1cad4n512v1b48s1">GM03 – second note (a3) SB instead of M</div>
   <div class="p1ced3n0v1b51s5">GM14 – M f2 instead of e2</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e1130 d2e1228');">GA03 – Q</a></p>
         </td>
         <td style="vertical-align:middle">dunqu’il</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">6</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e5139 d2e5165');">GA03 – C(2)A(2)</a></p>
         </td>
         <td style="vertical-align:middle">ehe</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">6</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e5563 d2e5638 d2e5768 d2e6043 d2e6131 d2e6209');">GA03 – B</a></p>
         </td>
         <td style="vertical-align:middle">dividii</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">6</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e3471 d2e3539 d2e5206 d2e5215');">GA14 – C(1)T</a></p>
         </td>
         <td style="vertical-align:middle">congius’</td>
      </tr>
   </tbody>
</table>