<h4>Edition and commentary</h4>
<p>
   
   <b>S’io parto, i’ moro, e pur partir conviene</b>
   
   <br></br>Arlotti
   
   <br></br>Madrigal: AabBCC
   
</p>
<table class="lyrics">
   <tr class="">
      <td class="">S’io parto, i’ moro, e pur partir conviene:</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Morrò, dunque, il mio bene</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E questa mia partita</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Che mi ti toglie mi torrà la vita.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Dolorosa partita che m’uccidi!</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Quei che congiuns’Amor perché dividi?</td>
      <td class=""></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>
   In Parnaso de poetici ingegni (Parma: per il Viotti, 1611).
   
</p>