<h4>Edition and commentary</h4><p>
                        <b>S’io parto, i’ moro, e pur partir conviene</b>
                        <br></br>Ridolfo Arlotti
                        <br></br>Madrigal: AabBCC
                    </p><table class="lyrics"><tr><td>S’io parto, i’ moro, e pur partir conviene:</td><td>If I leave, I shall die, and yet it is necessary that I leave:</td></tr><tr><td>Morrò, dunque, il mio bene</td><td>I shall die, then, my love,</td></tr><tr><td>E questa mia partita</td><td>and this departure</td></tr><tr><td>Che mi ti toglie mi torrà la vita.</td><td>which takes me away from you will take my life from me.</td></tr><tr><td>Dolorosa partita che m’uccidi!</td><td>O painful departure, you who slay me,</td></tr><tr><td>Quei che congiuns’Amor perché dividi?</td><td>Why do you separate those whom Love united?</td></tr></table><h4>Contemporary editions</h4><p>
                        <em>Parnaso de poetici ingegni</em> (Parma: per il Viotti, 1611).
                    </p>