<h4>Edition and commentary</h4>
<p>
   
   <b>Ah, dolente partita</b>
   
   <br></br>Battista Guarini, 
   <em>Il pastor fido</em>, III, 3, 498–505
   
   <br></br>Madrigal: aaBcddeE
   
</p>
<table class="lyrics">
   <tr>
      <td>Ah, dolente partita!</td>
      <td></td>
   </tr>
   <tr>
      <td>Ah, fin de la mia vita!</td>
      <td></td>
   </tr>
   <tr>
      <td>Da te parto e non moro? Pur i’ provo</td>
      <td></td>
   </tr>
   <tr>
      <td>La pena de la morte</td>
      <td></td>
   </tr>
   <tr>
      <td>E sento nel partire</td>
      <td></td>
   </tr>
   <tr>
      <td>Un vivace morire,</td>
      <td></td>
   </tr>
   <tr>
      <td>Che dà vita al dolore</td>
      <td></td>
   </tr>
   <tr>
      <td>Per far che moia immortalmente il core.</td>
      <td></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>Battista Guarini, 
   <em>Il pastor fido, tragicommedia pastorale</em>, Venice: G.B. Ciotti, 1602, 163
</p>
<h4>Notes</h4>
<p>
   The 1602 “definitive” edition of 
   <em>Il pastor fido</em> has “
   <em>E pur i’ provo</em>” at line 3. For the whole problem of the variants and adaptations in Marenzio’s settings
   from 
   <em>Il pastor fido</em>, see Cecchi, “List of Secular and Devotional Compositions by Luca Marenzio”, 490,
   n.XLVI, and the literature quoted there.
   
</p>