<h4>Edition and commentary</h4>
<p>
   
   <b>Or chi, Clori beata</b>
   
   <br></br>Giovanni Battista Strozzi the Elder
   
   <br></br>Madrigal: aBaBbCC
   
</p>
<table class="lyrics">
   <tr class="">
      <td class="">Or chi, Clori beata,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Il bell’oro t’increspa? La bell’ora.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E la guancia rosata</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Chi di sì fresche rose ti colora?</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Ogni mattin l’aurora.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E chi gl’occhi t’accend’e chi gli move?</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Amore e ’l sol che non s’annida altrove.</td>
      <td class=""></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>
   G.B. Strozzi, 
   <em>Madrigali</em>, ed. Lorenzo and Filippo Strozzi, Florence: Sermatelli, 1593; 
   <em>Ghilranda [sic] dell’aurora, scelta di madrigali de’ più famosi autori di questo secolo</em>, ed. Pietro Petracci, Venice: B. Giunti and G.B. Ciotti, 1609; 
   
   <em>Il gareggiamento poetico del Confuso Accademico Ordito. Madrigali amorosi graui, e
      piaceuoli ne’ quali si vede il bello, il leggiadro &amp; il vivace de i più illustri poeti
      d’Italia
   </em>, Venice: Barezzo Barezzi, 1611. 
   (Information from James Chater, “Family Matters: Music in the Life and Poetry of Giovambattista
   Strozzi the Elder” in 
   <em>Perspectives on Luca Marenzio’s Secular Music</em>, 75–140: 129.)
   
</p>
<h4>Notes</h4>
<p>
   The original incipit of Strozzi’s text (“Or chi, 
   <em>Filli</em> beata,”) has been modified to accommodate the name Clori.
   
</p>