<div class="panel panel-default">
	<div class="list-group">
		{% for m in site.menu %}
		<a id="link-{{ m.id }}" class="list-group-item {% if page.active_section == m.id %}active{% endif %}" href="{{ site.baseurl }}/{{ m.id }}.xhtml">{{ m.name }}</a>
		{% endfor %}
	</div>
</div>

{% for m in site.menu %}
    {% if page.active_section == m.id and page.hide_secondary != true %}
    <div class="panel panel-default">
        <div class="list-group sublist-group">
            {% include secondary_link.html class="list-group-item" %}
        </div>
    </div>
    {% endif %}
{% endfor %}