<h4>
    Supported by
</h4>
<div class="row">
    <div class="col-md-12 col-sm-3 col-xs-12 text-center home-logo">
        <a href="http://www.neh.gov" target="_blank"><img src="/images/logo-neh-1.png"/></a>
    </div>
    <div class="col-md-12 col-sm-3 col-xs-12  text-center home-logo">
        <a href="http://www.columbia.edu" target="_blank"><img src="/images/logo-columbia-1.png"/></a>
    </div>
    <div class="col-md-12 col-sm-3 col-xs-12  text-center home-logo">
        <a href="http://www.upenn.edu" target="_blank"><img src="/images/logo-upenn-1.png"/></a>
    </div>
    <div class="col-md-12 col-sm-3 col-xs-12  text-center home-logo">
        <a href="http://rism-ch.org" target="_blank"><img src="/images/rism-ch.png"/></a>
    </div>
</div>