<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph-1594; Ka-1608; Ph-1610</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">63</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd5n512v1b63s1' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>Am-1587</p>
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>C</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>f4 instead of g4</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cgd5n512v1b63s1">Am-1587 – 
      AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      f4 instead of g4</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="lines">4</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000080136490 #verse-000000086971039 #verse-000000135934632 #verse-000000074113415');">AnGa-1605 – S</a></p>
         </td>
         <td style="vertical-align:middle">dolc sguardo</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">5</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000049222700 #verse-000000124300931 #verse-000000198319730 #verse-000000088274493 #verse-000000025672184 #verse-000000042841416');">Sc-heir-1603 – A<sub>1</sub>T<sub>1</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">saeto</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">7</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000113328539 #verse-000000149329425 #verse-000000122061910 #verse-000000116389646');">Vi-1587 – A</a></p>
         </td>
         <td style="vertical-align:middle">n’andò ’alma</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">8</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000139548092 #verse-000000098974449 #verse-000000076088620');">AnGa-1593 – C<sub>3</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">torna ma</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">8</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000132238509 #verse-000000069238449 #verse-000000058402233 #verse-000000060652768');">AnGa-1605 – T<sub>4</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">torna maa</td>
      </tr>
   </tbody>
</table><div class="app-inline-text">
   <div data-corresp="#verse-000000080136490 #verse-000000086971039 #verse-000000135934632 #verse-000000074113415">dolc sguardo (AnGa-1605 – S)
      </div>
   <div data-corresp="#verse-000000049222700 #verse-000000124300931 #verse-000000198319730 #verse-000000088274493 #verse-000000025672184 #verse-000000042841416">saeto (Sc-heir-1603 – A<sub>1</sub>T<sub>1</sub>
      )
      </div>
   <div data-corresp="#verse-000000113328539 #verse-000000149329425 #verse-000000122061910 #verse-000000116389646">n’andò ’alma (Vi-1587 – A)
      </div>
   <div data-corresp="#verse-000000139548092 #verse-000000098974449 #verse-000000076088620">torna ma (AnGa-1593 – C<sub>3</sub>
      )
      </div>
   <div data-corresp="#verse-000000132238509 #verse-000000069238449 #verse-000000058402233 #verse-000000060652768">torna maa (AnGa-1605 – T<sub>4</sub>
      )
      </div>
</div>