<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cgd5n512v1b63s1');">Am 1587, AnGa1593, Sc[heir]1603, AnGa1605</a></td>
         <td>second SM f4 instead of g4</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cgd5n512v1b63s1">Am 1587, AnGa1593, Sc[heir]1603, AnGa1605 – second SM f4 instead of g4</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">4</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e2544 d2e2553 d2e2672 d2e2683');">AnGa1605 – S</a></p>
         </td>
         <td style="vertical-align:middle">dolc sguardo</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">5</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e3058 d2e3067 d2e3078 d2e3620 d2e3629 d2e3640 d2e3289 d2e3298 d2e3309 d2e3695 d2e3704 d2e3713');">Sc[heir]1603 – AT</a></p>
         </td>
         <td style="vertical-align:middle">saeto</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">7</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e5634 d2e5643 d2e5732 d2e5823');">Vi1587 – A</a></p>
         </td>
         <td style="vertical-align:middle">n’andò ’alma</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">8</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e7298 d2e7307 d2e7316 d2e8074 d2e8083 d2e8209 d2e8716 d2e8725 d2e8866 d2e9111 d2e8218 d2e7476');">AnGa1593 – C</a></p>
         </td>
         <td style="vertical-align:middle">torna ma</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">8</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e6748 d2e6757 d2e6900 d2e7041 d2e7229 d2e7381 d2e7390 d2e7399 d2e8139 d2e8148 d2e8157 d2e8290 d2e8435 d2e8444 d2e8596 d2e8803 d2e8933 d2e8942 d2e9068 d2e9156');">AnGa1603 – T</a></p>
         </td>
         <td style="vertical-align:middle">torna maa</td>
      </tr>
   </tbody>
</table>