<h4>Edition of the text and commentary</h4>

<p>
	<b><i>“Vattene, anima mia”, dissi narrando</i></b><br/>
	Giovanni Battista Nicolucci, known as ‘Pigna’<br/>
	Madrigal: AbAbccDD
</p>

<p class="app_text">
	“Vattene, anima mia”, dissi narrando<br/>
	A la mia vaga stella<br/>
	L’amor mio in rime, quando<br/> 
	A un dolce sguardo, ch’ella<br/>
	Mi saettò nel viso,<br/>
	Io fui così conquiso<br/>
	Che n’andò l’alma nei lucenti rai,<br/> 
	E l’alma che n’andò non torna mai.   
</p>

<h4>Sources used for collation</h4>
 
<p>Vi1587, Am1587, AnGa1593, Sc[heir]1603, AnGa1605.</p>
