<h5 class="marenzio-modal">Music</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">1</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#staff-000000165667067' , 'meterSig');">Vi-1587 – B2</a></td>
         <td style="vertical-align:middle">
            <p>mensuration sign missing</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">8</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#mrest-000000015183746' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>Am-1587</p>
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>A1</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>missing</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">14</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd3n512v1b14s4' );">Sc-heir-1603 – B1</a></td>
         <td style="vertical-align:middle">
            <p>f2 instead of g2</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">26</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cdd5n256v1b26s5' );">Sc-heir-1603 – C2</a></td>
         <td style="vertical-align:middle">
            <p>e4 instead of d4</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">45</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd3n512v1b45s8 #p1cfd3n768v1b45s8' );">Sc-heir-1603 – T2</a></td>
         <td style="vertical-align:middle">
            <p>M rest erroneously inserted in-between</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">49-50</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cad4n0v1b49s1 #p1cad4n0v1b50s1' );">AnGa-1605 – C1</a></td>
         <td style="vertical-align:middle">
            <p>g3 instead of a3</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">69</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#mrest-000000123710167' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>Am-1587</p>
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>C1</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>missing</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#staff-000000165667067" data-type="meterSig">Vi-1587 – 
      mensuration sign missing</div>
   <div data-corresp="#mrest-000000015183746">Am-1587 – 
      AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      missing</div>
   <div data-corresp="#p1cgd3n512v1b14s4">Sc-heir-1603 – 
      f2 instead of g2</div>
   <div data-corresp="#p1cdd5n256v1b26s5">Sc-heir-1603 – 
      e4 instead of d4</div>
   <div data-corresp="#p1cgd3n512v1b45s8 #p1cfd3n768v1b45s8">Sc-heir-1603 – 
      M rest erroneously inserted in-between</div>
   <div data-corresp="#p1cad4n0v1b49s1 #p1cad4n0v1b50s1">AnGa-1605 – 
      g3 instead of a3</div>
   <div data-corresp="#mrest-000000123710167">Am-1587 – 
      AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      missing</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>