<h5 class="marenzio-modal">Music</h5>

<p>Sources used for collation: AnGa-1594; AnGa-1603; Ma-Ga-1614</p>

<p>Other sources: –</p>

<table class="table app-table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:loadPageWithElement('#dir-0000001817544182' );">
               <p>AnGa-1594</p></a></td>
         <td style="vertical-align:middle">rubric "Secondo choro. A 8." missing in B2</td>
      </tr>
      <tr>
         <td><a href="javascript:loadPageWithElement('#p1cgd3n768v1b61s3' );">
               <p>Ma-Ga-1614</p></a></td>
         <td style="vertical-align:middle">M instead of SM</td>
      </tr>
      <tr>
         <td><a href="javascript:loadPageWithElement('#p1cbd2n0v1b90s4' );">
               <p>AnGa-1594</p>
               <p>AnGa-1603</p>
               <p>Ma-Ga-1614</p></a></td>
         <td style="vertical-align:middle">c2 instead of b1 (corrected <i>ope ingenii</i>)
         </td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div data-corresp="#dir-0000001817544182">AnGa-1594 – 
      rubric "Secondo choro. A 8." missing in B2
   </div>
   <div data-corresp="#p1cgd3n768v1b61s3">Ma-Ga-1614 – 
      M instead of SM
   </div>
   <div data-corresp="#p1cbd2n0v1b90s4">AnGa-1594 – 
      AnGa-1603 – 
      Ma-Ga-1614 – 
      c2 instead of b1 (corrected <i>ope ingenii</i>)
   </div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">3</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000925345847 #verse-0000000270186128 #verse-0000000539202983');">AnGa-1594 – A1</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000000925345847 #verse-0000000270186128 #verse-0000000539202983');">AnGa-1603 – A1</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000000925345847 #verse-0000000270186128 #verse-0000000539202983');">Ma-Ga-1614 – A1</a></p>
         </td>
         <td style="vertical-align:middle">altier'e</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">3</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000258626861 #verse-0000001968378317 #verse-0000000910237590 #verse-0000001578792490 #verse-0000000640401880 #verse-0000001602076358');">Ma-Ga-1614 – C1A1B1</a></p>
         </td>
         <td style="vertical-align:middle">vist'</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">7</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000698622749 #verse-0000002133681337 #verse-0000001498195524');">AnGa-1594 – A2</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000000698622749 #verse-0000002133681337 #verse-0000001498195524');">AnGa-1603 – A2</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000000698622749 #verse-0000002133681337 #verse-0000001498195524');">Ma-Ga-1614 – A2</a></p>
         </td>
         <td style="vertical-align:middle">leggiadr'e</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">10</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000001927529942 #verse-0000000396637122 #verse-0000000636941160 #verse-0000000132016171 #verse-0000000141521853 #verse-0000001177896922');">AnGa-1594 – T1B1A2</a></p>
         </td>
         <td style="vertical-align:middle">splende</td>
      </tr>
   </tbody>
</table>
<div class="app-inline-text">
   <div data-corresp="#verse-0000000925345847 #verse-0000000270186128 #verse-0000000539202983">altier'e (AnGa-1594 – A1)
      
   </div>
   <div data-corresp="#verse-0000000925345847 #verse-0000000270186128 #verse-0000000539202983">altier'e (AnGa-1603 – A1)
      
   </div>
   <div data-corresp="#verse-0000000925345847 #verse-0000000270186128 #verse-0000000539202983">altier'e (Ma-Ga-1614 – A1)
      
   </div>
   <div data-corresp="#verse-0000000258626861 #verse-0000001968378317 #verse-0000000910237590 #verse-0000001578792490 #verse-0000000640401880 #verse-0000001602076358">vist' (Ma-Ga-1614 – C1A1B1)
      
   </div>
   <div data-corresp="#verse-0000000698622749 #verse-0000002133681337 #verse-0000001498195524">leggiadr'e (AnGa-1594 – A2)
      
   </div>
   <div data-corresp="#verse-0000000698622749 #verse-0000002133681337 #verse-0000001498195524">leggiadr'e (AnGa-1603 – A2)
      
   </div>
   <div data-corresp="#verse-0000000698622749 #verse-0000002133681337 #verse-0000001498195524">leggiadr'e (Ma-Ga-1614 – A2)
      
   </div>
   <div data-corresp="#verse-0000001927529942 #verse-0000000396637122 #verse-0000000636941160 #verse-0000000132016171 #verse-0000000141521853 #verse-0000001177896922">splende (AnGa-1594 – T1B1A2)
      
   </div>
</div>