<h4>Edition and commentary</h4>
<p>
   
   <b>Ecco Maggio seren, chi l’ha vestito</b>
   
   <br></br>Giovanni Battista Strozzi the Elder
   
   <br></br>Madrigal: AbbAacC
   
</p>
<table class="lyrics">
   <tr>
      <td>Ecco Maggio seren, chi l’ha vestito</td>
      <td></td>
   </tr>
   <tr>
      <td>Di sì bel verd’e giallo?</td>
      <td></td>
   </tr>
   <tr>
      <td>Ninfe e Pastori al ballo!</td>
      <td></td>
   </tr>
   <tr>
      <td>Al ballo, Ninfe e Dii, per ogni lito!</td>
      <td></td>
   </tr>
   <tr>
      <td>Ecco Maggio fiorito;</td>
      <td></td>
   </tr>
   <tr>
      <td>Filli al ballo e tu Clori,</td>
      <td></td>
   </tr>
   <tr>
      <td>Grazie al ballo, al ball’Aure, al ballo Amori!</td>
      <td></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>
   G.B. Strozzi, 
   <em>Madrigali</em>, ed. Lorenzo and Filippo Strozzi,  Florence: Sermatelli, 1593; 
   
   <em>Ghilranda</em> [sic] 
   <em>dell’aurora, scelta di madrigali de’ più famosi autori di questo secolo</em>, ed. Pietro Petracci, Venice: B. Giunti and G.B. Ciotti, 1609. 
   (Information from Chater, “Family Matters”, 129. Chater lists also the principal manuscript
   sources for this piece, originally written for a “Calendimaggio”.)
   
</p>