<h4>Edition and commentary</h4>
<p>
   
   <b>Ecco Maggio seren, chi l’ha vestito</b>
   
   <br></br>Giovanni Battista Strozzi the Elder
   
   <br></br>Madrigal: AbbAacC
   
</p>
<table class="lyrics">
   <tr>
      <td>Ecco Maggio seren, chi l’ha vestito</td>
      <td>Behold serene May, who has clad him</td>
   </tr>
   <tr>
      <td>Di sì bel verd’e giallo?</td>
      <td>in such lovely green and yellow?</td>
   </tr>
   <tr>
      <td>Ninfe e Pastori al ballo!</td>
      <td>Nymphs and Shepherds, to the dance!</td>
   </tr>
   <tr>
      <td>Al ballo, Ninfe e Dii, per ogni lito!</td>
      <td>To the dance, Nymphs and Gods, on every shore!</td>
   </tr>
   <tr>
      <td>Ecco Maggio fiorito;</td>
      <td>Behold flowery May:</td>
   </tr>
   <tr>
      <td>Filli al ballo e tu Clori,</td>
      <td>to the dance, Phyllis, and you, Chloris,</td>
   </tr>
   <tr>
      <td>Grazie al ballo, al ball’Aure, al ballo Amori!</td>
      <td>to the dance, O Graces, to the dance, O Zephyrs, to the dance, O Cupids!</td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>
   G.B. Strozzi, 
   <em>Madrigali</em>, ed. Lorenzo and Filippo Strozzi,  Florence: Sermatelli, 1593; 
   
   <em>Ghilranda</em> [sic] 
   <em>dell’aurora, scelta di madrigali de’ più famosi autori di questo secolo</em>, ed. Pietro Petracci, Venice: B. Giunti and G.B. Ciotti, 1609. 
   (Information from Chater, “Family Matters”, 129. Chater lists also the principal manuscript
   sources for this piece, originally written for a “Calendimaggio”.)
   
</p>