<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: AnGa-1594; AnGa-1603; Ma-Ga-1614</p>
<p>Other sources: Ka-1601; Ph-1609; Ph-heirs-1632</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">34</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd4n0v1b34s4' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1594</p>
                           <p>AnGa-1603</p>
                           <p>Ma-Ga-1614</p>
                        </div>
                     </td>
                     <td>T</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>first SM d3 instead of c3 (corrected <i>ope ingenii</i>)</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">48</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cbd4n512v1b48s1' );">AnGa-1603 – C</a></td>
         <td style="vertical-align:middle">
            <p>SB a3 instead of b3</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1ccd4n0v1b34s4">AnGa-1594 – 
      AnGa-1603 – 
      Ma-Ga-1614 – 
      first SM d3 instead of c3 (corrected <i>ope ingenii</i>)</div>
   <div data-corresp="#p1cbd4n512v1b48s1">AnGa-1603 – 
      SB a3 instead of b3</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="lines">5</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000002066218850 #verse-0000001295897424 #verse-0000000682573354 #verse-0000001791310333 #verse-0000001173144274 #verse-0000002023581778 #verse-0000001764071420 #verse-0000001085309277 #verse-0000001069849356 #verse-0000000237459856 #verse-0000000603278130 #verse-0000001675186380 #verse-0000000920910735 #verse-0000000209316620 #verse-0000001638168644');">Ma-Ga-1614 – all voices</a></p>
         </td>
         <td style="vertical-align:middle">trafigge</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">10</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000820191306 #verse-0000000161554296');">AnGa-1603 – Q</a></p>
         </td>
         <td style="vertical-align:middle">giust'e</td>
      </tr>
   </tbody>
</table><div class="app-inline-text">
   <div data-corresp="#verse-0000002066218850 #verse-0000001295897424 #verse-0000000682573354 #verse-0000001791310333 #verse-0000001173144274 #verse-0000002023581778 #verse-0000001764071420 #verse-0000001085309277 #verse-0000001069849356 #verse-0000000237459856 #verse-0000000603278130 #verse-0000001675186380 #verse-0000000920910735 #verse-0000000209316620 #verse-0000001638168644">trafigge (Ma-Ga-1614 – all voices)
      </div>
   <div data-corresp="#verse-0000000820191306 #verse-0000000161554296">giust'e (AnGa-1603 – Q)
      </div>
</div>