<h4>Edition and commentary</h4>
<p>
   
   <b>Amor, se giusto sei</b>
   
   <br></br>Madrigal: abbCDdCEEDD
   
</p>
<table class="lyrics">
   <tr class="">
      <td class="">Amor, se giusto sei,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Fa’ che la donna mia</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Anch’ella giusta sia.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Io l’amo, tu ’l conosci ed ella il vede;</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Costei mi strazia e mi traffigge il core,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Ma, per maggior dolore</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E per dispreggio tuo, non mi dà fede.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Non sostener, Amor, che nel tuo regno</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Là dov’ho sparsa fè vi mieti sdegno,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Ma, come giusto e non empio signore,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Fa’ che premio d’amor sia sempr’amore.</td>
      <td class=""></td>
   </tr>
</table>