<h4>Edition and commentary</h4>
<p>
   
   <b>Amor, se giusto sei</b>
   
   <br></br>Madrigal: abbCDdCEEDD
   
</p>
<table class="lyrics">
   <tr>
      <td>Amor, se giusto sei,</td>
      <td></td>
   </tr>
   <tr>
      <td>Fa’ che la donna mia</td>
      <td></td>
   </tr>
   <tr>
      <td>Anch’ella giusta sia.</td>
      <td></td>
   </tr>
   <tr>
      <td>Io l’amo, tu ’l conosci ed ella il vede;</td>
      <td></td>
   </tr>
   <tr>
      <td>Costei mi strazia e mi traffigge il core,</td>
      <td></td>
   </tr>
   <tr>
      <td>Ma, per maggior dolore</td>
      <td></td>
   </tr>
   <tr>
      <td>E per dispreggio tuo, non mi dà fede.</td>
      <td></td>
   </tr>
   <tr>
      <td>Non sostener, Amor, che nel tuo regno</td>
      <td></td>
   </tr>
   <tr>
      <td>Là dov’ho sparsa fè vi mieti sdegno,</td>
      <td></td>
   </tr>
   <tr>
      <td>Ma, come giusto e non empio signore,</td>
      <td></td>
   </tr>
   <tr>
      <td>Fa’ che premio d’amor sia sempr’amore.</td>
      <td></td>
   </tr>
</table>