<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: AnGa-1594; AnGa-1603; Ma-Ga-1614</p>
<p>Other sources: Ka-1601; Ph-1609; Ph-heirs-1632</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">21-22</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd4n256v1b21s3 #p1cbd3n512v1b21s3 #p1cbd3n0v1b22s3 #p1cbd3n512v1b22s3' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1594</p>
                           <p>AnGa-1603</p>
                           <p>Ma-Ga-1614</p>
                        </div>
                     </td>
                     <td>Q</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>SM b2-SB b2-SM c3 instead of SM c3-SB b2-SM b2 (corrected based on the <i>locus parallelus</i>: T, 39-40)</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">60</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd3n512v1b60s5' );">Ma-Ga-1614 – B</a></td>
         <td style="vertical-align:middle">
            <p>a sharp (in the fourth space) is erroneously inserted before c2</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1ccd4n256v1b21s3 #p1cbd3n512v1b21s3 #p1cbd3n0v1b22s3 #p1cbd3n512v1b22s3">AnGa-1594 – 
      AnGa-1603 – 
      Ma-Ga-1614 – 
      SM b2-SB b2-SM c3 instead of SM c3-SB b2-SM b2 (corrected based on the <i>locus parallelus</i>: T, 39-40)</div>
   <div data-corresp="#p1ccd3n512v1b60s5">Ma-Ga-1614 – 
      a sharp (in the fourth space) is erroneously inserted before c2</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="lines">4</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000001083403409 #verse-0000000996786070 #verse-0000000180984266 #verse-0000001024282349 #verse-0000001783216538 #verse-0000000862808504 #verse-0000001518840165 #verse-0000000102828996 #verse-0000002012782558 #verse-0000000332972319 #verse-0000000548453369 #verse-0000000098161932 #verse-0000000081641612 #verse-0000000245335104 #verse-0000001630183472 #verse-0000001057048568 #verse-0000001609662310 #verse-0000001790365970 #verse-0000000769986878 #verse-0000000373715523');">Ma-Ga-1614 – C<sub>2</sub>A<sub>2</sub>T<sub>2</sub>B<sub>2</sub>Q<sub>2</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">addolcisci</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">6</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000176703852 #verse-0000000247863272');">Ma-Ga-1614 – A<sub>1</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">mita <i>instead of </i>mia</td>
      </tr>
   </tbody>
</table><div class="app-inline-text">
   <div data-corresp="#verse-0000001083403409 #verse-0000000996786070 #verse-0000000180984266 #verse-0000001024282349 #verse-0000001783216538 #verse-0000000862808504 #verse-0000001518840165 #verse-0000000102828996 #verse-0000002012782558 #verse-0000000332972319 #verse-0000000548453369 #verse-0000000098161932 #verse-0000000081641612 #verse-0000000245335104 #verse-0000001630183472 #verse-0000001057048568 #verse-0000001609662310 #verse-0000001790365970 #verse-0000000769986878 #verse-0000000373715523">addolcisci (Ma-Ga-1614 – C<sub>2</sub>A<sub>2</sub>T<sub>2</sub>B<sub>2</sub>Q<sub>2</sub>
      )
      </div>
   <div data-corresp="#verse-0000000176703852 #verse-0000000247863272">mita  instead of  mia (Ma-Ga-1614 – A<sub>1</sub>
      )
      </div>
</div>