<h4>Edition and commentary</h4>
<p>
   
   <b>Anima cruda sì, ma però bella</b>
   
   <br></br>Battista Guarini, 
   <em>Il pastor fido</em>, IV, 9, 1254–1259  
   
   <br></br>Four unrhymed hendecasyllables and a rhyming couplet of seven-syllable lines
   
</p>
<table class="lyrics">
   <tr class="">
      <td class="">Anima cruda sì, ma però bella,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Non mi negar a l’ultimo sospiro</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Un tuo solo sospir. Beata morte,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Se l’addolcissi tu con questa sola</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Voce cortese e pia:</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">“Va’ in pace, anima mia!”</td>
      <td class=""></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>
   Battista Guarini, 
   <em>Il pastor fido, tragicommedia pastorale</em>, Venice: G.B. Ciotti, 1602, 330. 
   
</p>
<h4>Notes</h4>
<p>
   The excerpt set by Marenzio is identical (but for details in the punctuation) to the
   corresponding lines in the 1602 “definitive” edition of 
   <em>Il pastor fido</em>.
   
</p>