<h4>Edition and commentary</h4><p>
                        <b>Anima cruda sì, ma però bella</b>
                        <br></br>Battista Guarini, <em>Il pastor fido</em>, IV, 9, 1254–1259  
                        <br></br>Four unrhymed hendecasyllables and a rhyming couplet of seven-syllable lines
                    </p><table class="lyrics"><tr><td>Anima cruda sì, ma però bella,</td><td>Ruthless but beautiful soul,</td></tr><tr><td>Non mi negar a l’ultimo sospiro</td><td>do not deny me, at the last sigh,</td></tr><tr><td>Un tuo solo sospir. Beata morte,</td><td>just one sigh of yours. What a blissful death,</td></tr><tr><td>Se l’addolcissi tu con questa sola</td><td>if you would soften it</td></tr><tr><td>Voce cortese e pia:</td><td>with just these kind and generous words:</td></tr><tr><td>“Va’ in pace, anima mia!”</td><td>“Go in peace, my soul”.</td></tr></table><p>
                        English translations of madrigal texts based with permission on those by Kathryn Bosi, <em>The complete five voice madrigals: for mixed voices / IV, The sixth and seventh books</em>. New York: Gaudia Music and Arts, 1996. 
                    </p><h4>Contemporary editions</h4><p>
                        Battista Guarini, <em>Il pastor fido, tragicommedia pastorale</em>, Venice: G.B. Ciotti, 1602, 330. 
                    </p><h4>Notes</h4><p>
                        The excerpt set by Marenzio is identical (except for some details in the punctuation) to the corresponding lines in the 1602 edition of <em>Il pastor fido</em>.
                    </p>