<h4>Edition and commentary</h4>
<p>
   
   <b>“Rimanti in pace”, a la dolente e bella / Ond’ei, di morte la sua faccia impressa</b>
   
   <br></br>Livio Celiano (Angelo Grillo)
   
   <br></br>Sonnet: ABBA ABBA CDE CDE
   
</p>
<table class="lyrics">
   <tr class="void">
      <td>
         <em>(Prima parte)</em>
      </td>
      <td></td>
   </tr>
   <tr>
      <td>“Rimanti in pace”, a la dolente e bella</td>
      <td></td>
   </tr>
   <tr>
      <td>Cloride Tirsi sospirando disse.</td>
      <td></td>
   </tr>
   <tr>
      <td>“Rimanti, io me ne vo, tal mi prescrisse</td>
      <td></td>
   </tr>
   <tr>
      <td>Legge, empio fato e sorte aspr’e rubella”.</td>
      <td></td>
   </tr>
   <tr class="void">
      <td></td>
      <td></td>
   </tr>
   <tr>
      <td>Ed ella, ora dall’una e l’altra stella</td>
      <td></td>
   </tr>
   <tr>
      <td>Stillando amaro umore, i lumi affisse</td>
      <td></td>
   </tr>
   <tr>
      <td>Nei lumi del suo Tirsi e gli trafisse</td>
      <td></td>
   </tr>
   <tr>
      <td>Il cor di pietosissime quadrella.</td>
      <td></td>
   </tr>
   <tr class="void">
      <td></td>
      <td></td>
   </tr>
   <tr class="void">
      <td>
         <em>(Seconda parte)</em>
      </td>
      <td></td>
   </tr>
   <tr>
      <td>Ond’ei, di morte la sua faccia impressa,</td>
      <td></td>
   </tr>
   <tr>
      <td>Disse: “Ahi, come n’andrò senz’il mio sole</td>
      <td></td>
   </tr>
   <tr>
      <td>Di martir in martir, di doglie e ’n doglie?”</td>
      <td></td>
   </tr>
   <tr class="void">
      <td></td>
      <td></td>
   </tr>
   <tr>
      <td>Ed ella, da sospiri e pianti oppressa,</td>
      <td></td>
   </tr>
   <tr>
      <td>Debilmente formò queste parole:</td>
      <td></td>
   </tr>
   <tr>
      <td>“Deh, cara anima mia, chi mi vi toglie?”</td>
      <td></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>
   In 
   <em>Rime di diversi celebri poeti dell’età nostra</em>, ed. G.B. Licino, Bergamo: Comino Ventura e Compagni, 1587 (
   <a target="_blank" href="http://books.google.it/books?id=bx88AAAAcAAJ&amp;dq=%22Rime%20di%20diversi%20celebri%20poeti%22&amp;hl=it&amp;pg=PP5#v=onepage&amp;q&amp;f=false">available online as of August 2014</a>); 
   
   <em>Nuova scielta di rime di diversi illustri poeti</em>, Bergamo: Comino Ventura e Compagni, 1592.      
   
</p>
<h4>Notes</h4>
<p>
   The second line of the original text by Livio Celiano (“
   <em>Fillida</em> Tirsi sospirando disse”) has been modified to accommodate the name Cloride. 
   Other relevant variants occur in the last tercet: 
   <em>Rime di diversi</em> 1587 has “singhiozzi” instead of “sospiri” (line 9) and “Fievolmente” instead of
   “Debilmente” (line 10).
   
</p>