<h4>Edition and commentary</h4>
<p>
   
   <b>Donna de l’alma mia, de la mia vita</b>
   
   <br></br>Torquato Tasso, 
   <em>Convito di Pastori</em>, 71–77
   
   <br></br>Unrhymed hendecasyllables 
   <em>(endecasillabi sciolti)</em>
   
</p>
<table class="lyrics">
   <tr>
      <td>Donna de l’alma mia, de la mia vita,</td>
      <td></td>
   </tr>
   <tr>
      <td>Perdona al folle ardir, t’amo, t’adoro,</td>
      <td></td>
   </tr>
   <tr>
      <td>E ardo del tuo ardor; né ti sdegnare</td>
      <td></td>
   </tr>
   <tr>
      <td>S’io son vil esca di sì nobil fiamma,</td>
      <td></td>
   </tr>
   <tr>
      <td>Ch’ognuno scald’a cui risplende il sole.</td>
      <td></td>
   </tr>
   <tr>
      <td>Deh, gradisci il mio cor, questo cor fido</td>
      <td></td>
   </tr>
   <tr>
      <td>Ch’arso da le tue fiamme io ti consacro.</td>
      <td></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>In 
   <em>Rime di diversi celebri poeti dell’età nostra, </em>
   ed. G.B. Licino, Bergamo: Comino Ventura e Compagni, 1587 (
   <a target="_blank" href="http://books.google.it/books?id=bx88AAAAcAAJ&amp;dq=%22Rime%20di%20diversi%20celebri%20poeti%22&amp;hl=it&amp;pg=PP5#v=onepage&amp;q&amp;f=false">available online as of August 2014</a>);
   Torquato Tasso, 
   <em>Il rimanente delle rime nuove</em>, Ferrara: V. Baldini, 1587 (
   <a target="_blank" href="http://books.google.it/books?id=dRI8AAAAcAAJ&amp;pg=PA1#v=onepage&amp;q&amp;f=false">available online as of August 2014</a>).
   
</p>