<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: AnGa-1594; AnGa-1603; Ma-Ga-1614</p>
<p>Other sources: Ka-1601; Ph-1609; Ph-heirs-1632</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">83</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cdd4n768v1b83s4' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1594</p>
                           <p>AnGa-1603</p>
                           <p>Ma-Ga-1614</p>
                        </div>
                     </td>
                     <td>Q</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>last note f3 instead of d3 (corrected <i>ope ingenii</i>)</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cdd4n768v1b83s4">AnGa-1594 – 
      AnGa-1603 – 
      Ma-Ga-1614 – 
      last note f3 instead of d3 (corrected <i>ope ingenii</i>)</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="lines">2</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000558781233 #verse-0000002049884748 #verse-0000002040847483 #verse-0000002078080737 #verse-0000001689288176 #verse-0000000713158010');">AnGa-1594 – CB</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000000558781233 #verse-0000002049884748 #verse-0000002040847483 #verse-0000002078080737 #verse-0000001689288176 #verse-0000000713158010');">AnGa-1603 – CB</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000000558781233 #verse-0000002049884748 #verse-0000002040847483');">Ma-Ga-1614 – C</a></p>
         </td>
         <td style="vertical-align:middle">languiv'al</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">2</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000001460465382 #verse-0000001838846663 #verse-0000001135317958');">Ma-Ga-1614 – T</a></p>
         </td>
         <td style="vertical-align:middle">lãnguire</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">3</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000001132456104 #verse-0000000974790228 #verse-0000001438576122 #verse-0000001414722326 #verse-0000001823364620');">AnGa-1603 – Q</a></p>
         </td>
         <td style="vertical-align:middle">ricett'Amore</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">4</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000001089955279 #verse-0000000457070114 #verse-0000000181174616');">AnGa-1594 – Q</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000001089955279 #verse-0000000457070114 #verse-0000000181174616');">AnGa-1603 – Q</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000001089955279 #verse-0000000457070114 #verse-0000000181174616');">Ma-Ga-1614 – Q</a></p>
         </td>
         <td style="vertical-align:middle">Cadean'a</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">7</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000129926341 #verse-0000001635612571 #verse-0000000998154831 #verse-0000001960141013');">AnGa-1603 – Q</a></p>
         </td>
         <td style="vertical-align:middle">occh'intanto</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">9</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000001641758375 #verse-0000001526145392 #verse-0000001941093432 #verse-0000001422795830 #verse-0000002004035026 #verse-0000001532934873 #verse-0000001570897127 #verse-0000000719921317');">AnGa-1603 – CA</a></p>
         </td>
         <td style="vertical-align:middle">gentil'e non</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">10</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000001458977975 #verse-0000001865784125');">AnGa-1603 – T</a></p>
         </td>
         <td style="vertical-align:middle">piant'il</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">11</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000087675110');">Ma-Ga-1614 – C<sub>2</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">e <i>instead of</i> che</td>
      </tr>
   </tbody>
</table><div class="app-inline-text">
   <div data-corresp="#verse-0000000558781233 #verse-0000002049884748 #verse-0000002040847483 #verse-0000002078080737 #verse-0000001689288176 #verse-0000000713158010">languiv'al (AnGa-1594 – CB)
      </div>
   <div data-corresp="#verse-0000000558781233 #verse-0000002049884748 #verse-0000002040847483 #verse-0000002078080737 #verse-0000001689288176 #verse-0000000713158010">languiv'al (AnGa-1603 – CB)
      </div>
   <div data-corresp="#verse-0000000558781233 #verse-0000002049884748 #verse-0000002040847483">languiv'al (Ma-Ga-1614 – C)
      </div>
   <div data-corresp="#verse-0000001460465382 #verse-0000001838846663 #verse-0000001135317958">lãnguire (Ma-Ga-1614 – T)
      </div>
   <div data-corresp="#verse-0000001132456104 #verse-0000000974790228 #verse-0000001438576122 #verse-0000001414722326 #verse-0000001823364620">ricett'Amore (AnGa-1603 – Q)
      </div>
   <div data-corresp="#verse-0000001089955279 #verse-0000000457070114 #verse-0000000181174616">Cadean'a (AnGa-1594 – Q)
      </div>
   <div data-corresp="#verse-0000001089955279 #verse-0000000457070114 #verse-0000000181174616">Cadean'a (AnGa-1603 – Q)
      </div>
   <div data-corresp="#verse-0000001089955279 #verse-0000000457070114 #verse-0000000181174616">Cadean'a (Ma-Ga-1614 – Q)
      </div>
   <div data-corresp="#verse-0000000129926341 #verse-0000001635612571 #verse-0000000998154831 #verse-0000001960141013">occh'intanto (AnGa-1603 – Q)
      </div>
   <div data-corresp="#verse-0000001641758375 #verse-0000001526145392 #verse-0000001941093432 #verse-0000001422795830 #verse-0000002004035026 #verse-0000001532934873 #verse-0000001570897127 #verse-0000000719921317">gentil'e non (AnGa-1603 – CA)
      </div>
   <div data-corresp="#verse-0000001458977975 #verse-0000001865784125">piant'il (AnGa-1603 – T)
      </div>
   <div data-corresp="#verse-0000000087675110">e  instead of  che (Ma-Ga-1614 – C<sub>2</sub>
      )
      </div>
</div>