<h4>Edition and commentary</h4>
<p>
   
   <b>Clori nel mio partire </b>
   
   <br></br>Bonifazio Bevilacqua (attr.)
   
   <br></br>Madrigal: aaBccBdDEEfF
   
</p>
<table class="lyrics">
   <tr class="">
      <td class="">Clori nel mio partire</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Languiva al mio languire</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E da le luci ov’ha ricetto Amore</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Cadeano a mille a mille</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Le rugiadose stille.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Cauto v’accorse il mio dolente core</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E da’ begl’occhi intanto</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Co’ baci n’involò quel vago pianto.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Meraviglia gentile e non più udita!</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Quel pianto il cibo fu de la mia vita.</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Or che di lei son privo,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Mercè di quelle lagrime mi vivo.</td>
      <td class=""></td>
   </tr>
</table>
<p>The same text, but with the incipit “Flora nel mio partire”, appears in I-Arc, ms.
   453, c. 13v (see Cecchi,
   “List of Secular and Devotional Compositions by Luca Marenzio”, 489, n.XLIII). For
   the attribution to Bevilacqua and further details,
   see James Chater, “Reflections of Musical Glory: Bonifazio Bevilacqua as Poet and
   Patron,” in 
   <em>Musicologia humana:
      Studies in Honor of Warren and Ursula Kirkendale
   </em>, ed. by Siegfried Gmeinwieser, David Hiley, and Jorg Riedlbauer, Florence:
   Olschki, 1994, 233–250: 234–246.
</p>