<h4>Edition and commentary</h4>
<p>
   
   <b>Clori nel mio partire </b>
   
   <br></br>Bonifazio Bevilacqua (attr.)
   
   <br></br>Madrigal: aaBccBdDEEfF
   
</p>
<table class="lyrics">
   <tr>
      <td>Clori nel mio partire</td>
      <td>Chloris, at my parting,</td>
   </tr>
   <tr>
      <td>Languiva al mio languire</td>
      <td>languished at my languishing,</td>
   </tr>
   <tr>
      <td>E da le luci ov’ha ricetto Amore</td>
      <td>and from her eyes, where Love finds shelter,</td>
   </tr>
   <tr>
      <td>Cadeano a mille a mille</td>
      <td>dewy drops fell by the thousands.</td>
   </tr>
   <tr>
      <td>Le rugiadose stille.</td>
      <td></td>
   </tr>
   <tr>
      <td>Cauto v’accorse il mio dolente core</td>
      <td>My aching heart cautiously hastened there,</td>
   </tr>
   <tr>
      <td>E da’ begl’occhi intanto</td>
      <td>and stole with kisses that fair weeping from those lovely eyes.</td>
   </tr>
   <tr>
      <td>Co’ baci n’involò quel vago pianto.</td>
      <td></td>
   </tr>
   <tr>
      <td>Meraviglia gentile e non più udita!</td>
      <td>O graceful, unheard-of marvel!</td>
   </tr>
   <tr>
      <td>Quel pianto il cibo fu de la mia vita.</td>
      <td>Those tears were the nourishment of my life.</td>
   </tr>
   <tr>
      <td>Or che di lei son privo,</td>
      <td>Now that I am deprived of her,</td>
   </tr>
   <tr>
      <td>Mercè di quelle lagrime mi vivo.</td>
      <td>I live on those tears.</td>
   </tr>
</table>
<p>The same text, but with the incipit “Flora nel mio partire”, appears in I-Arc, ms.
   453, c. 13v (see Cecchi,
   “List of Secular and Devotional Compositions by Luca Marenzio”, 489, n.XLIII). For
   the attribution to Bevilacqua and further details,
   see James Chater, “Reflections of Musical Glory: Bonifazio Bevilacqua as Poet and
   Patron,” in 
   <em>Musicologia humana:
      Studies in Honor of Warren and Ursula Kirkendale
   </em>, ed. by Siegfried Gmeinwieser, David Hiley, and Jorg Riedlbauer, Florence:
   Olschki, 1994, 233–250: 234–246.
</p>