<h5 class="marenzio-modal">Gar1580</h5>
<div class="marenzio-modal">
   <p><strong>Angelo Gardano, Venezia 1580</strong></p>
   <ul>
      <li>I-Bc<em> — Complete</em></li>
      <li>P-Kj<em> — TB</em></li>
      <li>GB-Lwa<em> — Complete</em></li>
      <li>D-Mbs<em> — Complete</em></li>
      <li>I-Nf<em> — [unavailable]</em></li>
      <li>I-Rsc<em> — AQ incomplete</em></li>
      <li>I-Vnm<em> — B</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci novamente composti, &amp; dati
         in luce. Angelo Gardano, Venezia 1580.</strong></p>
</div>
<h5 class="marenzio-modal">Gar1580</h5>
<div class="marenzio-modal">
   <p><strong>Angelo Gardano, Venezia 1582</strong></p>
   <ul>
      <li>I-Bc<em> — Complete</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci novamente con ogni diligentia
         ristampati. Angelo Gardano, Venezia 1582.</strong></p>
</div>
<h5 class="marenzio-modal">VinAm1586</h5>
<div class="marenzio-modal">
   <p><strong>Ricciardo Amadino compagni, Venezia 1586</strong></p>
   <ul>
      <li>I-Bc<em> — Complete</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci, novamente con ogni diligentia
         ristampati. Giacomo Vincenzi &amp; Ricciardo Amadino compagni, Venezia 1586.</strong></p>
</div>
<h5 class="marenzio-modal">Gar1587</h5>
<div class="marenzio-modal">
   <p><strong>Angelo Gardano, Venezia 1587</strong></p>
   <ul>
      <li>A-Wn<em> — Complete</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci novamente con ogni diligentia
         ristampati. Angelo Gardano, Venezia 1587.</strong></p>
</div>
<h5 class="marenzio-modal">Vin1588</h5>
<div class="marenzio-modal">
   <p><strong>Giacomo Vincenzi, Venezia 1588</strong></p>
   <ul>
      <li>I-Bc<em> — Q</em></li>
      <li>US-BEm<em> — T</em></li>
      <li>I-PS<em> — CAB; TQ incomplete</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci, novamente con ogni diligentia
         ristampati. Giacomo Vincenzi, Venezia 1588.</strong></p>
</div>
<h5 class="marenzio-modal">PhaBel1593</h5>
<div class="marenzio-modal">
   <p><strong>Pierre Phalèse and Jean Bellère, Antwerp 1593</strong></p>
   <ul></ul>
   <p><strong>Madrigali a cinque voci ridotti in un corpo. Pierre Phalèse and Jean Bellère, Antwerp
         1593.</strong></p>
</div>
<h5 class="marenzio-modal">Sco1600</h5>
<div class="marenzio-modal">
   <p><strong>Erede di Girolamo Scotto, Venezia 1600</strong></p>
   <ul>
      <li>GB-Lbl<em> — BQ</em></li>
      <li>I-Vnm<em> — A</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci, novamente ristampati.
         Erede di Girolamo Scotto, Venezia 1600</strong></p>
</div>
<h5 class="marenzio-modal">Kau1601</h5>
<div class="marenzio-modal">
   <p><strong>Paul Kauffmann, Nuremberg 1601</strong></p>
   <ul></ul>
   <p><strong>Lucae Marentii, musicii celeberrimi, madrigalia quinque vocum, anteà Venetiis, diversis
         temporibus, novem separatis edita libris, jam verò, commodioris usus caussâ, uno volumine
         conjunctim excusa [sic]. Paul Kauffmann, Nuremberg 1601.</strong></p>
</div>
<h5 class="marenzio-modal">Gar1602</h5>
<div class="marenzio-modal">
   <p><strong>Angelo Gardano, Venezia 1602</strong></p>
   <ul>
      <li>I-Bc<em> — Complete</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci novamente con ogni diligentia
         ristampati. Angelo Gardano, Venezia 1602.</strong></p>
</div>
<h5 class="marenzio-modal">Sco1608</h5>
<div class="marenzio-modal">
   <p><strong>Erede di Girolamo Scotto, Venezia 1608</strong></p>
   <ul>
      <li>I-PAmc<em> — CATB</em></li>
   </ul>
   <p><strong>Di Luca Marenzio il primo libro de madrigali a cinque voci, novamente ristampati.
         Erede di Girolamo Scotto, Venezia 1608.</strong></p>
</div>
<h5 class="marenzio-modal">Ra1608</h5>
<div class="marenzio-modal">
   <p><strong>Alessandro Raveri, Venezia 1608</strong></p>
   <ul></ul>
   <p><strong>Il primo libro de madrigali a cinque voci di Luca Marenzio novamente con ogni diligenza
         ristampati. Alessandro Raveri, Venezia 1608.</strong></p>
</div>
<h5 class="marenzio-modal">Pha1609</h5>
<div class="marenzio-modal">
   <p><strong>Pierre Phalèse, Antwerp 1609</strong></p>
   <ul></ul>
   <p><strong>Il primo, secondo, terzo, quarto &amp; quinto libro de madrigali a cinque voci. Pierre
         Phalèse, Antwerp 1609 (does not contain “O tu che fra le selve occulta vivi”).</strong></p>
</div>