<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cgd3n448v1b8s6');">Vi-1587 (GB-Obl and F-Pc only)</a></td>
         <td>b2 instead of g2. In the other copies the note is corrected to G by a pasted cutout.</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ccd3n768v1b33s6');">Vi-1587</a></td>
         <td>corrected from a d2 in all copies</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cgd3n448v1b8s6">Vi-1587 (GB-Obl and F-Pc only) – b2 instead of g2. In the other copies the note is corrected to G by a pasted cutout.</div>
   <div class="p1ccd3n768v1b33s6">Vi-1587 – corrected from a d2 in all copies</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>