<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph-1594; Ka-1608; Ph-1610; 1590<sup>29</sup> (English contrafactum <i>The Fates, alas</i>)</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">8</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd3n448v1b8s6' );">Vi-1587 – B</a></td>
         <td style="vertical-align:middle">
            <p>F instead of SF</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">8</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd3n448v1b8s6' );">Vi-1587 (GB-Obl and F-Pc only) – B</a></td>
         <td style="vertical-align:middle">
            <p>b2 instead of g2. In the other copies the note is corrected to G by a pasted cutout.</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">20</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cfd4n896v1b20s5' );">Am-1587 – T</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of F</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">22</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cbd4n128v1b22s2 #p1cad4n256v1b22s2' );">Sc-heir-1603 – Q</a></td>
         <td style="vertical-align:middle">
            <p>a3b3 instead of b3a3</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">23</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd4n384v1b23s2' );">Vi-1587 – Q</a></td>
         <td style="vertical-align:middle">
            <p>F instead of SF</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">33</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd3n768v1b33s6' );">Vi-1587 – B</a></td>
         <td style="vertical-align:middle">
            <p>c2 corrected from a d2 in all copies</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">42</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd5n256v1b42s1' );">Sc-heir-1603 – C</a></td>
         <td style="vertical-align:middle">
            <p>b3 instead of c4</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">51-52</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ced5n768v1b51s4 #p1ced5n0v1b52s4' );">Vi-1587 – S</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of dotted SM</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cgd3n448v1b8s6">Vi-1587 – 
      F instead of SF</div>
   <div data-corresp="#p1cgd3n448v1b8s6">Vi-1587 (GB-Obl and F-Pc only) – 
      b2 instead of g2. In the other copies the note is corrected to G by a pasted cutout.</div>
   <div data-corresp="#p1cfd4n896v1b20s5">Am-1587 – 
      SM instead of F</div>
   <div data-corresp="#p1cbd4n128v1b22s2 #p1cad4n256v1b22s2">Sc-heir-1603 – 
      a3b3 instead of b3a3</div>
   <div data-corresp="#p1cgd4n384v1b23s2">Vi-1587 – 
      F instead of SF</div>
   <div data-corresp="#p1ccd3n768v1b33s6">Vi-1587 – 
      c2 corrected from a d2 in all copies</div>
   <div data-corresp="#p1ccd5n256v1b42s1">Sc-heir-1603 – 
      b3 instead of c4</div>
   <div data-corresp="#p1ced5n768v1b51s4 #p1ced5n0v1b52s4">Vi-1587 – 
      SM instead of dotted SM</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>