<h4>Edition and commentary</h4>
<p>
   
   <b>Udite, lagrimosi</b>
   
   <br></br>Battista Guarini, 
   <em>Il pastor fido</em>, III, 6, 814–826
   
   <br></br>Unrhymed eleven- and seven-syllable lines 
   <em>(endecasillabi e settenari sciolti)</em>
   
</p>
<table class="lyrics">
   <tr class="">
      <td class="">Udite, lagrimosi</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Spirti d’Averno, udite</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Nova sorte di pena e di tormento;</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Mirate crudo affetto</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">In sembiante pietoso:</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">La mia donna, crudel più dell’inferno,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Perch’una sola morte</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Non può far sazia la sua ingorda voglia</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">(E la mia vita è quasi</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Una perpetua morte),</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Mi comanda ch’io viva</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Perché la vita mia</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Di mille morti il dì ricetto sia.</td>
      <td class=""></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>Battista Guarini, 
   <em>Il pastor fido, tragicommedia pastorale</em>, Venice: G.B. Ciotti, 1602, 192.
</p>
<h4>Notes</h4>
<p>The 1602 “definitive” edition of 
   <em>Il pastor fido</em> has “
   <em>fiera voglia</em>” at line 8 (besides other minor variants). For the whole problem of the variants
   and adaptations in Marenzio’s settings from Il pastor fido, see Cecchi, “List of Secular
   and Devotional Compositions by Luca Marenzio”, 490, n.XLVI, and the literature quoted
   there.
</p>