<h5 class="marenzio-modal">Music</h5>

<p>Sources used for collation: AnGa-1594; AnGa-1603; Ma-Ga-1614</p>

<p>Other sources: Ka-1601; Ph-1609; Ph-heirs-1632; Latin sacred contrafactum (Filia summi
   regis) in 1616-8
</p>

<table class="table app-table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:loadPageWithElement('#p1ccd3n512v1b77s5' );">
               <p>Ma-Ga-1614</p></a></td>
         <td style="vertical-align:middle">e2 instead of c2</td>
      </tr>
      <tr>
         <td><a href="javascript:loadPageWithElement('#p1ccd3n0v1b79s5' );">
               <p>Ma-Ga-1614</p></a></td>
         <td style="vertical-align:middle">M instead of SM</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div data-corresp="#p1ccd3n512v1b77s5">Ma-Ga-1614 – 
      e2 instead of c2
   </div>
   <div data-corresp="#p1ccd3n0v1b79s5">Ma-Ga-1614 – 
      M instead of SM
   </div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">5</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000779977076');">Ma-Ga-1614 – C<sub>3</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">mia <i>is missing before the repetition sign</i>
            
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle">9</td>
         <td>
            <p><a href="javascript:loadPageWithElement('#verse-0000000310648194 #verse-0000002144317774');">Ma-Ga-1614 – C<sub>2</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">fred'</td>
      </tr>
   </tbody>
</table>
<div class="app-inline-text">
   <div data-corresp="#verse-0000000779977076">mia  is missing before the repetition sign 
       (Ma-Ga-1614 – C<sub>3</sub>
      )
      
   </div>
   <div data-corresp="#verse-0000000310648194 #verse-0000002144317774">fred' (Ma-Ga-1614 – C<sub>2</sub>
      )
      
   </div>
</div>