<h4>Edition and commentary</h4>
<p>
   
   <b>Mentre qual viva pietra</b>
   
   <br></br>Madrigal: aBBACCdDEE
   
</p>
<table class="lyrics">
   <tr>
      <td>Mentre qual viva pietra</td>
      <td></td>
   </tr>
   <tr>
      <td>Verso per gl’occhi miei lagrime mille,</td>
      <td></td>
   </tr>
   <tr>
      <td>Sperando nel mio sen l’alte faville</td>
      <td></td>
   </tr>
   <tr>
      <td>Spegner d’una ver me gelata pietra,</td>
      <td></td>
   </tr>
   <tr>
      <td>Sento che l’alma mia gridando dice:</td>
      <td></td>
   </tr>
   <tr>
      <td>“In queste fiamme sol viv’io felice”.</td>
      <td></td>
   </tr>
   <tr>
      <td>Tal che, liet’e giocondo,</td>
      <td></td>
   </tr>
   <tr>
      <td>“Sia dunqu’il foco eterno!” le rispondo;</td>
      <td></td>
   </tr>
   <tr>
      <td>E così d’una pietra fredd’e viva</td>
      <td></td>
   </tr>
   <tr>
      <td>Esce la fiamma che ’l mio cor aviva.</td>
      <td></td>
   </tr>
</table>