<h5 class="marenzio-modal">Music</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">7</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cbd4n768v1b7s2' );">Vi-1587 – Q</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of F</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">17</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ced4n384v1b17s5' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>T</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>d3 instead of e3 </p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">17</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd5n384v1b17s4' );">AnGa-1605 – S</a></td>
         <td style="vertical-align:middle">
            <p>b2 instead of c3</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">43</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd4n0v1b43s3' );">Sc-heir-1603 – A</a></td>
         <td style="vertical-align:middle">
            <p>g3 instead of c3</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">43</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd5n256v1b43s4' );">AnGa-1603 – S</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of M</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">49</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cdd4n256v1b49s1' );">Sc-heir-1603 – C</a></td>
         <td style="vertical-align:middle">
            <p>e3 instead of d3</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">51</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ced5n256v1b51s2' );">AnGa-1605 – Q</a></td>
         <td style="vertical-align:middle">
            <p>d4 instead of e4</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">53</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1r512v1b53s1' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>Am-1587</p>
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>C</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>missing</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">58</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd5n512v1b58s1' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>C</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>SB instead of M</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">58</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd5n256v1b58s4' );">Am-1587 – S</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of M</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">102-103</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cdd5n768v1b102s3 #p1cdd5n0v1b103s3' );">Am-1587 – A</a></td>
         <td style="vertical-align:middle">
            <p>dotted F instead of dotted SM</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">125</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cbd3n0v1b125s5' );">Sc-heir-1603 – T</a></td>
         <td style="vertical-align:middle">
            <p>a2 instead of b2</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cbd4n768v1b7s2">Vi-1587 – 
      SM instead of F</div>
   <div data-corresp="#p1ced4n384v1b17s5">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      d3 instead of e3 </div>
   <div data-corresp="#p1ccd5n384v1b17s4">AnGa-1605 – 
      b2 instead of c3</div>
   <div data-corresp="#p1ccd4n0v1b43s3">Sc-heir-1603 – 
      g3 instead of c3</div>
   <div data-corresp="#p1ccd5n256v1b43s4">AnGa-1603 – 
      SM instead of M</div>
   <div data-corresp="#p1cdd4n256v1b49s1">Sc-heir-1603 – 
      e3 instead of d3</div>
   <div data-corresp="#p1ced5n256v1b51s2">AnGa-1605 – 
      d4 instead of e4</div>
   <div data-corresp="#p1r512v1b53s1">Am-1587 – 
      AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      missing</div>
   <div data-corresp="#p1ccd5n512v1b58s1">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      SB instead of M</div>
   <div data-corresp="#p1cgd5n256v1b58s4">Am-1587 – 
      SM instead of M</div>
   <div data-corresp="#p1cdd5n768v1b102s3 #p1cdd5n0v1b103s3">Am-1587 – 
      dotted F instead of dotted SM</div>
   <div data-corresp="#p1cbd3n0v1b125s5">Sc-heir-1603 – 
      a2 instead of b2</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>