<h5 class="marenzio-modal">Music</h5>

<p>Sources used for collation: AnGa-1594; AnGa-1603; Ma-Ga-1614</p>

<p>Other sources: Ka-1601; Ph-1609; Ph-heirs-1632</p>

<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">53</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cfd4n256v1b53s2' );">AnGa-1603 – A</a></td>
         <td style="vertical-align:middle">
            <p>sharp missing on f3</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">69</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#measure-0000001414083985' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1594</p>
                           <p>AnGa-1603</p>
                           <p>Ma-Ga-1614</p>
                        </div>
                     </td>
                     <td>all voices</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>
               <i>color</i> of the three blackened M, with a "3" after the first one
            </p>
         </td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div data-corresp="#p1cfd4n256v1b53s2">AnGa-1603 – 
      sharp missing on f3
   </div>
   <div data-corresp="#measure-0000001414083985">AnGa-1594 – 
      AnGa-1603 – 
      Ma-Ga-1614 – 
      
      <i>color</i> of the three blackened M, with a "3" after the first one
   </div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr class="part1">
         <td style="vertical-align:middle" class="lines">8</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000550071370 #verse-0000001950873562 #verse-0000001239676644');">AnGa-1594 – B</a></p>
            <p><a href="javascript:loadPageWithElement('#verse-0000000550071370 #verse-0000001950873562 #verse-0000001239676644');">Ma-Ga-1614 – B</a></p>
         </td>
         <td style="vertical-align:middle">vendetta</td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="lines">8</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000567444556');">AnGa-1594 – A<sub>2</sub>
                  				</a></p>
         </td>
         <td style="vertical-align:middle">poi</td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="lines">14</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000692264883 #verse-0000000587054487');">Ma-Ga-1614 – N</a></p>
         </td>
         <td style="vertical-align:middle">son</td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="lines">15</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-0000000768779037 #verse-0000001589207264 #verse-0000000432032338 #verse-0000001800363043 #verse-0000000390954985 #verse-0000000312043263');">AnGa-1603 – AQ</a></p>
         </td>
         <td style="vertical-align:middle">sospir'il</td>
      </tr>
   </tbody>
</table>
<div class="app-inline-text">
   <div data-corresp="#verse-0000000550071370 #verse-0000001950873562 #verse-0000001239676644">vendetta (AnGa-1594 – B)
      
   </div>
   <div data-corresp="#verse-0000000550071370 #verse-0000001950873562 #verse-0000001239676644">vendetta (Ma-Ga-1614 – B)
      
   </div>
   <div data-corresp="#verse-0000000567444556">poi (AnGa-1594 – A<sub>2</sub>
      				)
      
   </div>
   <div data-corresp="#verse-0000000692264883 #verse-0000000587054487">son (Ma-Ga-1614 – N)
      
   </div>
   <div data-corresp="#verse-0000000768779037 #verse-0000001589207264 #verse-0000000432032338 #verse-0000001800363043 #verse-0000000390954985 #verse-0000000312043263">sospir'il (AnGa-1603 – AQ)
      
   </div>
</div>