<h4>Edition and commentary</h4>
<p>
   
   <b>Deh, Tirsi, Tirsi, anima mia, perdona / Che se tu se’ ’l cor mio</b>
   
   <br></br>Battista Guarini, 
   <em>Il pastor fido</em>, III, 4, 539–555 
   
   <br></br>Madrigal: Mostly unrhymed eleven- and seven-syllable lines (
   <em>endecasillabi e settenari sciolti</em>), with concluding rhyming couplets.
   
</p>
<table class="lyrics">
   <tr class="void">
      <td>
         <em>(Prima parte)</em>
      </td>
      <td></td>
   </tr>
   <tr>
      <td>Deh, Tirsi, Tirsi, anima mia, perdona</td>
      <td></td>
   </tr>
   <tr>
      <td>A chi t’è cruda sol dove pietosa</td>
      <td></td>
   </tr>
   <tr>
      <td>Esser non può; perdona a questa solo</td>
      <td></td>
   </tr>
   <tr>
      <td>Nei detti e nel sembiante</td>
      <td></td>
   </tr>
   <tr>
      <td>Rigida tua nemica, ma nel core</td>
      <td></td>
   </tr>
   <tr>
      <td>Pietosissima amante;</td>
      <td></td>
   </tr>
   <tr>
      <td>E se pur hai desio di vendicarti,</td>
      <td></td>
   </tr>
   <tr>
      <td>Deh, qual vendett’aver puoi tu maggiore</td>
      <td></td>
   </tr>
   <tr>
      <td>Del tuo proprio dolore?</td>
      <td></td>
   </tr>
   <tr class="void">
      <td></td>
      <td></td>
   </tr>
   <tr class="void">
      <td>
         <em>(Seconda parte)</em>
      </td>
      <td></td>
   </tr>
   <tr>
      <td>Che se tu se’ ’l cor mio,</td>
      <td></td>
   </tr>
   <tr>
      <td>Come se’ pur mal grado</td>
      <td></td>
   </tr>
   <tr>
      <td>Del cielo e de la terra,</td>
      <td></td>
   </tr>
   <tr>
      <td>Qualor piagni e sospiri,</td>
      <td></td>
   </tr>
   <tr>
      <td>Quelle lagrime tue sono il mio sangue,</td>
      <td></td>
   </tr>
   <tr>
      <td>Que’ sospiri il mio spirto, e quelle pene</td>
      <td></td>
   </tr>
   <tr>
      <td>E quel dolor che senti</td>
      <td></td>
   </tr>
   <tr>
      <td>Son miei, non tuoi, tormenti.</td>
      <td></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>
   Battista Guarini, 
   <em>Il pastor fido, tragicommedia pastorale</em>, Venice: G.B. Ciotti, 1602, 173–174. 
   
</p>
<h4>Notes</h4>
<p>
   The original incipit of this excerpt from 
   <em>Il pastor fido</em> (“
   <em>E tu, Mirtillo</em>, anima mia, perdona”) has been modified to accommodate the name Tirsi. Furthermore,
   the 1602 “definitive” edition of 
   <em>Il pastor fido</em> has “vendett
   <em>a</em> aver” at line 8. 
   For the whole problem of the variants and adaptations in Marenzio’s settings from
   
   <em>Il pastor fido</em>, see Cecchi, “List of Secular and Devotional Compositions by Luca Marenzio”,  490,
   n.XLIV, 490, n.XLVI, and the literature quoted there.
   
</p>