<h5 class="marenzio-modal">Music</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">13</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cbd4n768v1b13s2 #p1cad4n896v1b13s2' );">Vi-1587 – Q</a></td>
         <td style="vertical-align:middle">
            <p>SF instead of F</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">41</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd3n768v1b41s6' );">Sc-heir-1603 – B</a></td>
         <td style="vertical-align:middle">
            <p>d2 instead of c2</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">62</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1r512v1b62s5' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>T</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>missing</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cbd4n768v1b13s2 #p1cad4n896v1b13s2">Vi-1587 – 
      SF instead of F</div>
   <div data-corresp="#p1ccd3n768v1b41s6">Sc-heir-1603 – 
      d2 instead of c2</div>
   <div data-corresp="#p1r512v1b62s5">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      missing</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>