<h5 class="marenzio-modal">GA94</h5>
<div class="marenzio-modal">
   <p><strong>Venice, Angelo Gardano, 1594</strong></p>
   <ul>
      <li>I-MOe<em> — Complete</em></li>
      <li>A-Wn<em> — Complete</em></li>
      <li>B-Br<em> — Complete</em></li>
      <li>F-Pn<em> — Complete</em></li>
      <li>GB-Lbl<em> — CATQ</em></li>
      <li>I-Bc<em> — Complete</em></li>
      <li>I-Sd<em> — T</em></li>
      <li>I-ST<em> — C</em></li>
      <li>IRL-Dm<em> — B</em></li>
      <li>US-BEm<em> — CT</em></li>
      <li>US-CAh<em> — Q</em></li>
   </ul>
   <p><strong>DI LVCA MARENZIO | IL SESTO LIBRO DE MADRIGALI | A CINQVE VOCI, | Nouamente posto
         in luce. | CON PRIVILEGIO. | [printer’s mark] | In Venetia Appresso Angelo Gardano.
         | M. D. LXXXXIIII.</strong></p>
</div>
<h5 class="marenzio-modal">GA03</h5>
<div class="marenzio-modal">
   <p><strong>Venice, Angelo Gardano, 1603</strong></p>
   <ul>
      <li>I-Bc<em> — Complete</em></li>
   </ul>
   <p><strong>DI LVCA MARENZIO | IL SESTO LIBRO DE MADRIGALI | A CINQVE VOCI. | Nouamente Ristampato.
         | CON PRIVILEGIO. | [printer’s mark] | IN VENETIA. | Appresso Angelo Gardano. | M.
         D. CIII.</strong></p>
</div>
<h5 class="marenzio-modal">GM14</h5>
<div class="marenzio-modal">
   <p><strong>Venice, Gardano-Magni, 1614</strong></p>
   <ul>
      <li>I-VEcap<em> — Complete</em></li>
      <li>GB-Lbl<em> — Complete + B</em></li>
   </ul>
   <p><strong>DI LVCA MARENZIO | IL SESTO LIBRO | DE MADRIGALI | A CINQVE VOCI | Nouamente ristampato.
         | CON PRIVILEGIO. | [printer’s mark] | STAMPA DEL GARDANO | IN VENETIA. M DC XIIII.
         | Ære Bartholomæi Magni.</strong></p>
</div>