<h5 class="marenzio-modal">Music</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">11</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd4n384v1b11s5' );">Vi-1587 – T</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of F</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">113</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ced4n0v1b113s3' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>A</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>flat missing</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">118</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd4n128v1b118s4' );">Sc-heir-1603 – S</a></td>
         <td style="vertical-align:middle">
            <p>SM instead of F</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">127</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cad3n896v1b127s1 #p1cgd3n960v1b127s1' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                        </div>
                     </td>
                     <td>C</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>g2f2 instead of a2g2</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">127</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cfd2n896v1b127s6 #p1ced2n960v1b127s6' );">Sc-heir-1603 – B</a></td>
         <td style="vertical-align:middle">
            <p>g1f1 instead of f1e1</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">145</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cbd3n0v1b145s1' );">Sc-heir-1603 – C</a></td>
         <td style="vertical-align:middle">
            <p>c3 instead of b2</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1ccd4n384v1b11s5">Vi-1587 – 
      SM instead of F</div>
   <div data-corresp="#p1ced4n0v1b113s3">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      flat missing</div>
   <div data-corresp="#p1cgd4n128v1b118s4">Sc-heir-1603 – 
      SM instead of F</div>
   <div data-corresp="#p1cad3n896v1b127s1 #p1cgd3n960v1b127s1">AnGa-1593 – 
      Sc-heir-1603 – 
      g2f2 instead of a2g2</div>
   <div data-corresp="#p1cfd2n896v1b127s6 #p1ced2n960v1b127s6">Sc-heir-1603 – 
      g1f1 instead of f1e1</div>
   <div data-corresp="#p1cbd3n0v1b145s1">Sc-heir-1603 – 
      c3 instead of b2</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>