<h5 class="marenzio-modal">Music</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">2</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cfd5n256v1b2s4' );">Am-1587 – T</a></td>
         <td style="vertical-align:middle">
            <p>F instead of SM</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">17</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ced5n384v1b17s4' );">Vi-1587 (copy GB-Obl only) – T</a></td>
         <td style="vertical-align:middle">
            <p>g3 instead of e3, corrected in the other copies</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">30</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cgd5n896v1b30s4' );">Vi-1587 (copy GB-Obl only) – T</a></td>
         <td style="vertical-align:middle">
            <p>e3 instead of g3, corrected in the other copies</p>
         </td>
      </tr>
      <tr class="part1">
         <td style="vertical-align:middle" class="measures">42</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cbd4n768v1b42s2' );">Vi-1587 (copy I-Vnm only) – Q</a></td>
         <td style="vertical-align:middle">
            <p>a3 instead of b3, corrected in the other copies</p>
         </td>
      </tr>
      <tr class="part2">
         <td style="vertical-align:middle" class="measures">115</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cad4n0v1b115s1 #p1cad4n256v1b115s1' );">Vi-1587 – C</a></td>
         <td style="vertical-align:middle">
            <p>In all the copies except US-Bem two [M] a3 have been pasted over.</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cfd5n256v1b2s4">Am-1587 – 
      F instead of SM</div>
   <div data-corresp="#p1ced5n384v1b17s4">Vi-1587 (copy GB-Obl only) – 
      g3 instead of e3, corrected in the other copies</div>
   <div data-corresp="#p1cgd5n896v1b30s4">Vi-1587 (copy GB-Obl only) – 
      e3 instead of g3, corrected in the other copies</div>
   <div data-corresp="#p1cbd4n768v1b42s2">Vi-1587 (copy I-Vnm only) – 
      a3 instead of b3, corrected in the other copies</div>
   <div data-corresp="#p1cad4n0v1b115s1 #p1cad4n256v1b115s1">Vi-1587 – 
      In all the copies except US-Bem two [M] a3 have been pasted over.</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>