<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph, 1594; Ka, 1608; Ph, 1610</p>
<div class="app-inline"></div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="lines">6</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000161834331 #verse-000000011212375 #verse-000000157553451 #verse-000000168503594 #verse-000000081485055 #verse-000000056268888 #verse-000000183745001 #verse-000000161222031');">Vi-1587 – AQ<sub>1</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">sua natnra</td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="lines">7</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000209538618 #verse-000000093704086 #verse-000000100947514');">Sc-heir-1603 – Q<sub>4</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">discerdo</td>
      </tr>
   </tbody>
</table><div class="app-inline-text">
   <div data-corresp="#verse-000000161834331 #verse-000000011212375 #verse-000000157553451 #verse-000000168503594 #verse-000000081485055 #verse-000000056268888 #verse-000000183745001 #verse-000000161222031">sua natnra (Vi-1587 – AQ<sub>1</sub>
      )
      </div>
   <div data-corresp="#verse-000000209538618 #verse-000000093704086 #verse-000000100947514">discerdo (Sc-heir-1603 – Q<sub>4</sub>
      )
      </div>
</div>