<h4>Edition and commentary</h4>
<p>
   
   <b>Ben ho del caro oggetto i sensi privi / Dille la mia speranz’e ’l mio desio</b>
   
   <br></br>Annibale Caro (attr.)
   
   <br></br>Sonnet: ABBA ABBA CDC DCD
   
</p>
<table class="lyrics">
   <tr class="void">
      <td class="">
         <em>(Prima parte)</em>
      </td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Ben ho del caro oggetto i sensi privi,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Ma ’l veggio e ’l sent’e l’ho ne l’alm’impresso,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Come suol egro che, da sete oppresso,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Ha sempre nel pensier fontane e rivi;</td>
      <td class=""></td>
   </tr>
   <tr class="void">
      <td class=""></td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E s’io qui mi consumo e ’l mio sol ivi </td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Altrui risplende, Amor, dille tu stesso,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Poi ch’io non ho di te più fido messo,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">La mia gioia e ’l mio duol onde derivi.</td>
      <td class=""></td>
   </tr>
   <tr class="void">
      <td class=""></td>
      <td class=""></td>
   </tr>
   <tr class="void">
      <td class="">
         <em>(Seconda parte)</em>
      </td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Dille la mia speranz’e ’l mio desio,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Come l’aspett’ognor, come l’invoco</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">E com’io senza lei più non son io.</td>
      <td class=""></td>
   </tr>
   <tr class="void">
      <td class=""></td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Dille che non fia mai tempo né loco</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Che spenga o scemi pur l’incendio mio,</td>
      <td class=""></td>
   </tr>
   <tr class="">
      <td class="">Poi ch’ardo più quant’ho più lung’il foco.</td>
      <td class=""></td>
   </tr>
</table>
<h4>Contemporary editions</h4>
<p>See the Notes below.</p>
<h4>Notes</h4>
<p>
   According to Cecchi, “The attribution to Annibal Caro can be found in 
   <em>De le rime di diversi nobili poeti toscani, raccolte da m. Dionigi Atanagi, libro
      primo
   </em> 
   (Venice: Lodovico Avanzo, 1565), c. 5v” (“List of Secular and Devotional Compositions
   by Luca Marenzio”,  490, n.XLIV). 
   Elsewhere the poem is attributed to Flaminio Orsini (in 
   <em>Rime di diversi ecc. autori, in vita, e in morte dell’Ill. S. Livia Col.</em>, Rome: Antonio Barré, 1555) 
   or to Silvia Piccolomini: see James Chater, 
   <em>Luca Marenzio and the Italian Madrigal, 1577–1593</em>, Ann Arbor, Mich.: UMI, 1981, I, 208.
   
</p>