<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cfd5n256v1b5s2');">Vin1587</a></td>
         <td>dotted M g4 instead of f4; (I-Vnm copy only, in all other consulted copies, the g4
            is clearly corrected to an
            f4)
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cdd5n512v1b20s2');">Vin1587</a></td>
         <td>M d4 corrected by erasion and reprinting, except for I-Bc and GB-Obl(?) where the
            correction is done with a
            pasted cutout
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1r0v1b40s1');">Gar1605</a></td>
         <td>Sm rest missing</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cad5n0v1b70s1');">1590-29</a></td>
         <td>first note (a4) dotted Sm instead of F</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cad5n0v1b71s1');">Vin1587</a></td>
         <td>first note (a4) dotted Sm instead of F</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('mdf34df34fddf');">Vin 1587</a></td>
         <td>proportion sign 2/3, except in the B partbook of the F-Pn copy, where the proportion
            sign is 3/2
         </td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('mdf34df34fddf');">Gar1593, Sco 1603</a></td>
         <td>proportion sign 3/2, later erased and corrected in C</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ced5n896v1b128s1');">Vin1587</a></td>
         <td>last note (e4) added later in all copies</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cfd5n256v1b5s2">Vin1587 – dotted M g4 instead of f4; (I-Vnm copy only, in all other consulted copies, the g4
      is clearly corrected to an
      f4)
   </div>
   <div class="p1cdd5n512v1b20s2">Vin1587 – M d4 corrected by erasion and reprinting, except for I-Bc and GB-Obl(?) where the
      correction is done with a
      pasted cutout
   </div>
   <div class="p1r0v1b40s1">Gar1605 – Sm rest missing</div>
   <div class="p1cad5n0v1b70s1">1590-29 – first note (a4) dotted Sm instead of F</div>
   <div class="p1cad5n0v1b71s1">Vin1587 – first note (a4) dotted Sm instead of F</div>
   <div class="mdf34df34fddf">Vin 1587 – proportion sign 2/3, except in the B partbook of the F-Pn copy, where the proportion
      sign is 3/2
   </div>
   <div class="mdf34df34fddf">Gar1593, Sco 1603 – proportion sign 3/2, later erased and corrected in C</div>
   <div class="p1ced5n896v1b128s1">Vin1587 – last note (e4) added later in all copies</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e2008 d2e2034 d2e2318 d2e2088 d2e2112 d2e2374 d2e2166 d2e2190 d2e2430 d2e2244 d2e2268 d2e2486');">Am1587, Gar1593, Sco1603, Gar1605 – All voices</a></p>
         </td>
         <td style="vertical-align:middle">rapto fui</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e2644 d2e2866 d2e2890 d2e3111');">Vin 1587 – Q</a></p>
         </td>
         <td style="vertical-align:middle">com’in chiusa</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e2588 d2e2810 d2e2834 d2e3055 d2e2644 d2e2866 d2e2890 d2e3111 d2e2700 d2e2922 d2e2946 d2e3167 d2e2756 d2e2978 d2e3002 d2e3225');">Am1587, Gar1593, Sco1603, Gar1605 – All voices</a></p>
         </td>
         <td style="vertical-align:middle">com’in chiusa</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">3</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e3866 d2e3890 d2e3914');">Am1587 – Q</a></p>
         </td>
         <td style="vertical-align:middle">guerier’in</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">4</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e4644 d2e4862 d2e4886');">Vin1587 – C</a></p>
         </td>
         <td style="vertical-align:middle">ond’egl’è</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">5</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e5895 d2e5919 d2e6229 d2e6608 d2e5973 d2e5997 d2e6259 d2e6710 d2e6051 d2e6075 d2e6289 d2e6766 d2e6130 d2e6154 d2e6320 d2e6344');">Gar1593, Sco1603, Gar1605 – All voices</a></p>
         </td>
         <td style="vertical-align:middle">dolc’arringo</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">5</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e6154 d2e6320 d2e6344 d2e6368 d2e6392 d2e6797 d2e7122');">Gar1593 – B</a></p>
         </td>
         <td style="vertical-align:middle">arring’alteramente</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">6</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e10247 d2e10271 d2e10296 d2e10941 d2e10965 d2e10990');">Am1587 – C(2)T(2)</a></p>
         </td>
         <td style="vertical-align:middle">legiadra</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">10</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e23817 d2e23841 d2e23867 d2e24280 d2e23897 d2e23923 d2e23947 d2e24310 d2e23977 d2e24001 d2e24025 d2e24340 d2e23623 d2e24057 d2e24370 d2e24120 d2e24144 d2e24168 d2e24400');">Gar1593 – CATQS</a></p>
         </td>
         <td style="vertical-align:middle">colp’impressi</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">10</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e23841 d2e23867 d2e24280');">Vin1587 – C</a></p>
         </td>
         <td style="vertical-align:middle">impresi</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">10</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e24958 d2e24982 d2e25014 d2e25038 d2e25070 d2e25094 d2e25137 d2e25161 d2e25203 d2e25227 d2e25329 d2e25353 d2e25457 d2e25481 d2e25591 d2e25615');">Gar1593, Sco1603, Gar1605 – All voices</a></p>
         </td>
         <td style="vertical-align:middle">perch’a voto</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">11</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e25275 d2e25299 d2e25729 d2e25403 d2e25427 d2e25831 d2e25529 d2e25553 d2e25933 d2e25663 d2e25687 d2e26043');">Gar1593, Sco1603, Gar1605 – All voices</a></p>
         </td>
         <td style="vertical-align:middle">arm’e tai</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">12</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e31490 d2e31514 d2e31540 d2e31806 d2e31830');">Gar1605 – T(3)</a></p>
         </td>
         <td style="vertical-align:middle">e aon si sdegni</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">14</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e33601 d2e34010 d2e34034 d2e33703 d2e34064 d2e34088 d2e33805 d2e34118 d2e34142 d2e33908 d2e34173 d2e34197 d2e35997 d2e36354 d2e36378 d2e36099 d2e36408 d2e36432 d2e36201 d2e36462 d2e36498 d2e36311 d2e36562 d2e36586');">Am1587 – All voices</a></p>
         </td>
         <td style="vertical-align:middle">a l’una</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">14</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e33601 d2e34010 d2e34034 d2e33703 d2e34064 d2e34088 d2e33805 d2e34118 d2e34142 d2e35997 d2e36354 d2e36378 d2e36099 d2e36408 d2e36432 d2e36201 d2e36462 d2e36498 d2e36311 d2e36562 d2e36586');">Gar1593, Sco1603, Gar1605 – CATQS</a></p>
         </td>
         <td style="vertical-align:middle">a l’una</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">14</td>
         <td>
            <p><a href="javascript:load_page_with_element('d2e37026 d2e37164 d2e37188 d2e37214 d2e37500 d2e37787 d2e37811 d2e37837 d2e38034 d2e38058 d2e38591');">Gar1593, Sco1603, Gar1605 – C</a></p>
         </td>
         <td style="vertical-align:middle">erroneous repetition at the end of the phrase 'fra le due fa terzo fra le', instead
            of the correct 'o fra le due fa terzo Amor'
         </td>
      </tr>
   </tbody>
</table>