<h4>Contemporary editions</h4>
<p>
    <em>Rime del signor Torquato Tasso. Parte prima. […]</em>, Venezia, Manuzio, 1581, p. 63.
</p>
<p>
    <a href="http://reader.digitale-sammlungen.de/de/fs1/object/display/bsb10190145_00091.html" target="_blank">
        http://reader.digitale-sammlungen.de/de/fs1/object/display/bsb10190145_00091.html
    </a>
</p>

<h4>Notes</h4>
<p>
    The Marenzio and the Tasso 1581 versions correspond, thus the composer could have derived his text from the print. In Vin1587, copy of I-Vnm only, “T. Tasso” is added by hand on the upper margin. For the use of the Aldine edition by Marenzio, see also the notes to n. 12.
</p>