<h4>Edition of the text and commentary</h4>

<p>
	<b><i>Di nettare amoroso ebro la mente / Sonar le labra, e vi restaro i segni</i></b><br/>
	Torquato Tasso<br/>
	Sonetto: ABBA ABBA CDE CDE
</p>

<p class="app_text">
	<i>(Prima parte)</i><br/>
	Di nettare amoroso ebro la mente<br/>
	Ratto fui, né so come, in chiusa chiostra,<br/>
	E due belle d’amor guerrier’in giostra<br/>
	Vidi con l’arme ond’egli è sì possente.<br/>
	<br/>
	Vidi ch’in dolce arringo alteramente<br/>
	Fer pria di lor beltà leggiadra mostra,<br/>
	Poi, movendosi incontra ove s’inostra<br/>
	La bocca, si ferir di bacio ardente.<br/>
   	<br/>
	<i>(Seconda parte)</i><br/>
	Sonar le labra, e vi restaro i segni<br/>
	Di colpi impressi. Amor, deh, perché a vòto<br/>
	Tant’arme e tai percosse usar da scherzo?<br/>
	<br/>
	Provinsi in vera pugna, e non si sdegni<br/>
	Scontro d’amante. Amor, me tuo devoto<br/>
	Opponi all’una, o fra le due fa terzo.
</p>

<h4>Sources used for collation</h4>
 
<p>Vin1587, Am1587, Gar1593, Sco1603, Gar1605.</p>
