<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph-1594; Ka-1608; Ph-1610; 1589<sup>9</sup>; 1593<sup>4</sup>; 1597<sup>13</sup>; 1605<sup>8</sup>; 1605<sup>9</sup>; 1614<sup>12</sup>; 1628<sup>14</sup>; 1597<sup>24</sup> (English contrafactum <i>So sayth my faire and beautifull</i>)</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">2</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cdd5n0v1b2s1' );">Vi-1587 – C</a></td>
         <td style="vertical-align:middle">
            <p>a3; previously c4, then corrected</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#p1cdd5n0v1b2s1">Vi-1587 – 
      a3; previously c4, then corrected</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table><div class="app-inline-text"></div>