<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('measure-000000186101402');">AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>C instead of cut C</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ccd3n512v1b48s6');">Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>e2 instead of c2; in AnGa-1593 the SB e2 is crossed out and corrected to c2 by hand</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ccd3n0v1b49s6');">Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605</a></td>
         <td>e2 instead of c2; in AnGa-1593 the SB e2 is crossed out and corrected to c2 by hand</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="measure-000000186101402">AnGa-1593 Sc_heir-1603 AnGa-1605 – C instead of cut C</div>
   <div class="p1ccd3n512v1b48s6">Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605 – e2 instead of c2; in AnGa-1593 the SB e2 is crossed out and corrected to c2 by hand</div>
   <div class="p1ccd3n0v1b49s6">Am-1587 AnGa-1593 Sc_heir-1603 AnGa-1605 – e2 instead of c2; in AnGa-1593 the SB e2 is crossed out and corrected to c2 by hand</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody></tbody>
</table>