<h5 class="marenzio-modal">Music</h5>
<p>Sources used for collation: Vi-1587; Am-1587; AnGa-1593; Sc-heir-1603; AnGa-1605</p>
<p>Other sources: Ph-1594; Ka-1608; Ph-1610; 1590<sup>29</sup> (English contrafactum <i>Unkind, o stay thy flying</i>)</p>
<table class="table app-table">
   <thead>
      <tr>
         <th>Measures</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="measures">1</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#staff-000000214221176' , 'meterSig');">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>Q</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>C instead of cut C</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">18</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cad3n256v1b18s6' );">Sc-heir-1603 – B</a></td>
         <td style="vertical-align:middle">
            <p>b2 instead of a2</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">21-22</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cdd4n0v1b22s6 #p1cdd4n512v1b21s6' );">Sc-heir-1603 – B</a></td>
         <td style="vertical-align:middle">
            <p>c3 instead of d3</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">24</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1cfd5n768v1b24s1' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1</p>
                        </div>
                     </td>
                     <td>C</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>e4 instead of f4</p>
         </td>
      </tr>
      <tr>
         <td style="vertical-align:middle" class="measures">48-49</td>
         <td class="sources"><a href="javascript:loadPageWithElement('#p1ccd3n512v1b48s6 #p1ccd3n0v1b49s6' );">
               <table class="app-table-table">
                  <tr>
                     <td>
                        <div class="app-brace">
                           <p>Am-1587</p>
                           <p>AnGa-1593</p>
                           <p>Sc-heir-1603</p>
                           <p>AnGa-1605</p>
                        </div>
                     </td>
                     <td>B</td>
                  </tr>
               </table></a></td>
         <td style="vertical-align:middle">
            <p>e2 instead of c2; in AnGa-1593 the SB e2 is crossed out and corrected to c2 by hand</p>
         </td>
      </tr>
   </tbody>
</table><div class="app-inline">
   <div data-corresp="#staff-000000214221176" data-type="meterSig">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      C instead of cut C</div>
   <div data-corresp="#p1cad3n256v1b18s6">Sc-heir-1603 – 
      b2 instead of a2</div>
   <div data-corresp="#p1cdd4n0v1b22s6 #p1cdd4n512v1b21s6">Sc-heir-1603 – 
      c3 instead of d3</div>
   <div data-corresp="#p1cfd5n768v1b24s1">AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1 – 
      e4 instead of f4</div>
   <div data-corresp="#p1ccd3n512v1b48s6 #p1ccd3n0v1b49s6">Am-1587 – 
      AnGa-1593 – 
      Sc-heir-1603 – 
      AnGa-1605 – 
      e2 instead of c2; in AnGa-1593 the SB e2 is crossed out and corrected to c2 by hand</div>
</div><h5 class="marenzio-modal">Text</h5><table class="table app-table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle" class="lines">6</td>
         <td class="sources">
            <p><a href="javascript:loadPageWithElement('#verse-000000142386394 #verse-000000144728172 #verse-000000108374353 #verse-000000064195862 #verse-000000107055447 #verse-000000059383422 #verse-000000115439524 #verse-000000165747803');">Sc-heir-1603 C<sub>2</sub>Q<sub>3</sub>S<sub>2</sub>B<sub>2</sub>
                  </a></p>
         </td>
         <td style="vertical-align:middle">motir</td>
      </tr>
   </tbody>
</table><div class="app-inline-text">
   <div data-corresp="#verse-000000142386394 #verse-000000144728172 #verse-000000108374353 #verse-000000064195862 #verse-000000107055447 #verse-000000059383422 #verse-000000115439524 #verse-000000165747803">motir (Sc-heir-1603 C<sub>2</sub>Q<sub>3</sub>S<sub>2</sub>B<sub>2</sub>
      )
      </div>
</div>