<h5 class="marenzio-modal">Music</h5>
<table class="table">
   <thead>
      <tr>
         <th>Sources</th>
         <th>Comment</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cdd5n256v1b4s3');">Vin1588</a></td>
         <td>Sm f3 instead of d3</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1cad4n512v1b21s4');">Gar1602</a></td>
         <td>M a2 instead of dotted M</td>
      </tr>
      <tr>
         <td><a href="javascript:load_page_with_element('p1ccd5n256v1b31s3');">Sco1600 (I-Vn), Sco1608</a></td>
         <td>No sharp before c3</td>
      </tr>
   </tbody>
</table>
<div class="app-inline">
   <div class="p1cdd5n256v1b4s3">Vin1588 – Sm f3 instead of d3</div>
   <div class="p1cad4n512v1b21s4">Gar1602 – M a2 instead of dotted M</div>
   <div class="p1ccd5n256v1b31s3">Sco1600 (I-Vn), Sco1608 – No sharp before c3</div>
</div>
<h5 class="marenzio-modal">Text</h5>
<table class="table">
   <thead>
      <tr>
         <th>Lines</th>
         <th>Sources – Voices</th>
         <th>Variants</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td style="vertical-align:middle">1</td>
         <td>
            <p><a href="javascript:load_page_with_element('');">Vin1588 (I-PS) – CA</a></p>
         </td>
         <td style="vertical-align:middle">fa hoggs</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">1</td>
         <td>
            <p><a href="javascript:load_page_with_element('');">Gar1602 – CATQ</a></p>
         </td>
         <td style="vertical-align:middle">hogg’il</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('');">Gar1580 (I-Bc) – C</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1580 (I-Rsc) – Q</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1582 – CAT</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1587 – CATQ</a></p>
            <p><a href="javascript:load_page_with_element('');">Vin1588 (I-PS) – CATQ</a></p>
            <p><a href="javascript:load_page_with_element('');">Sco1600 (BG-Lbl) – Q</a></p>
            <p><a href="javascript:load_page_with_element('');">Sco1600 (I-Vnm) – A</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1602 – CATQ</a></p>
            <p><a href="javascript:load_page_with_element('');">Sco1608 – CAT</a></p>
         </td>
         <td style="vertical-align:middle">Che fa il mio</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">2</td>
         <td>
            <p><a href="javascript:load_page_with_element('');">VinAm1586 – CAQ</a></p>
         </td>
         <td style="vertical-align:middle">cant’e’l suono</td>
      </tr>
      <tr>
         <td style="vertical-align:middle">3</td>
         <td>
            <p><a href="javascript:load_page_with_element('');">Gar1580 (GB-Lwa) – All voices</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1580 (D-Mbs) – All voices</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1580 (I-Bc) – ATBQ</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1580 (P-Kj) – T</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1580 (I-Vnm) – B</a></p>
            <p><a href="javascript:load_page_with_element('');">Gar1582B – B</a></p>
         </td>
         <td style="vertical-align:middle">gloria e’l nome</td>
      </tr>
   </tbody>
</table>