<h4>Edition of the text and commentary</h4>
<p>
   
   <b>Che fa oggi il mio sole</b>
   
   <br></br>Anonymous
   
   <br></br>Madrigal: abCabD
   
</p>
<table class="lyrics">
   <tr>
      <td>Che fa oggi il mio sole,</td>
      <td>What is my sun doing today?</td>
   </tr>
   <tr>
      <td>Che fa ’l mio canto e ’l suono,</td>
      <td>What are my song and music doing </td>
   </tr>
   <tr>
      <td>Che non cantan di lei la gloria e ’l vanto?</td>
      <td>if they are not singing of her glory and honor?</td>
   </tr>
   <tr>
      <td>Or queste mie viole</td>
      <td>Now I give her my violets</td>
   </tr>
   <tr>
      <td>E questi fior gli dono</td>
      <td>and these flowers</td>
   </tr>
   <tr>
      <td>Che ne facci corona a le sue chiome.</td>
      <td>so that she can make a crown for her hair.</td>
   </tr>
</table>
<h4>Sources used for collation</h4>
<p>Gar1580, Gar1582, VinAm1586, Gar1587, Vin1588, Sco1600, Gar1602, Sco1608.</p>
<p>Other sources: Gar1580 (I-Nf unavailable for consultation), Ra1608</p>